In [1]:
import pandas as pd

In [64]:
ls

 Volume in drive C has no label.
 Volume Serial Number is BEC0-260A

 Directory of C:\Users\fazlu\Working_space\class\python-Labraries

13-03-2022  18:06    <DIR>          .
13-03-2022  18:06    <DIR>          ..
27-02-2022  12:54             1,926 .gitignore
13-03-2022  15:38    <DIR>          .ipynb_checkpoints
26-02-2022  13:56            23,015 0DA8B230
26-02-2022  13:56            23,008 8D49B230
12-02-2022  07:29             1,173 addresses.csv
13-03-2022  08:01         3,398,351 allrecord.csv
14-02-2012  14:38           461,474 bank.csv
14-02-2012  14:40         4,610,348 bank-full.csv
14-02-2012  15:10             3,864 bank-names.txt
12-02-2022  07:29             1,589 contacts.csv
13-03-2022  18:07             5,658 cricket.csv
26-02-2022  12:35               177 data.csv
12-02-2022  07:29               277 holiday_schedules.csv
27-02-2022  12:15            34,355 jsonResponse.csv
12-02-2022  07:29            18,015 locations.csv
12-02-2022  07:29             1,610 mail_addresses.csv
26-02-2022  13:57            23,021 MyPersonalData.xlsx
13-03-2022  18:07            81,551 NBA.csv
13-03-2022  18:07            78,960 NBA2.csv
13-03-2022  15:43            75,942 Numpy.ipynb
12-02-2022  07:29             2,281 organizations.csv
13-03-2022  18:06           339,044 Pandas Tasks.ipynb
13-03-2022  08:59         1,041,732 Pandas.ipynb
12-02-2022  07:29             2,092 phones.csv
12-02-2022  07:29                60 programs.csv
27-02-2022  12:38                30 README.md
12-02-2022  07:29               350 regular_schedules.csv
12-02-2022  07:29            19,128 services.csv
12-02-2022  07:29            14,618 taxonomy.csv
              28 File(s)     10,263,649 bytes
               3 Dir(s)  379,670,089,728 bytes free

In [65]:
pd.read_csv('addresses.csv')

,id,location_id,address_1,address_2,city,state_province,postal_code,country
0,1,1,2600 Middlefield Road,NaN,Redwood City,CA,94063,US
1,2,2,24 Second Avenue,NaN,San Mateo,CA,94401,US
2,3,3,24 Second Avenue,NaN,San Mateo,CA,94403,US
3,4,4,24 Second Avenue,NaN,San Mateo,CA,94401,US
4,5,5,24 Second Avenue,NaN,San Mateo,CA,94401,US
5,6,6,800 Middle Avenue,NaN,Menlo Park,CA,94025-9881,US
6,7,7,500 Arbor Road,NaN,Menlo Park,CA,94025,US
7,8,8,800 Middle Avenue,NaN,Menlo Park,CA,94025-9881,US
8,9,9,2510 Middlefield Road,NaN,Redwood City,CA,94063,US
9,10,10,1044 Middlefield Road,NaN,Redwood City,CA,94063,US
10,11,11,2140 Euclid Avenue.,NaN,Redwood City,CA,94061,US
11,12,12,1044 Middlefield Road,2nd Floor,Redwood City,CA,94063,US
12,13,13,399 Marine Parkway.,NaN,Redwood City,CA,94065,US
13,14,14,660 Veterans Blvd.,NaN,Redwood City,CA,94063,US
14,15,15,1500 Valencia Street,NaN,San Francisco,CA,94110,US
15,16,16,1161 South Bernardo,NaN,Sunnyvale,CA,94087,US
16,17,17,409 South Spruce Avenue,NaN,South San Francisco,CA,94080,US
17,18,18,114 Fifth Avenue,NaN,Redwood City,CA,94063,US
18,19,19,19 West 39th Avenue,NaN,San Mateo,CA,94403,US
19,20,21,123 El Camino Real,NaN,Belmont,CA,94002,US
20,21,22,2013 Avenue of the fellows,Suite 100,San Francisco,CA,94103,US

In [66]:
pd.read_csv('services.csv')

,id,location_id,program_id,accepted_payments,alternate_name,application_process,audience,description,eligibility,email,...,interpretation_services,keywords,languages,name,required_documents,service_areas,status,wait_time,website,taxonomy_ids
0,1,1,NaN,NaN,NaN,Walk in or apply by phone.,"Older adults age 55 or over, ethnic minorities...",A walk-in center for older adults that provide...,"Age 55 or over for most programs, age 60 or ov...",NaN,...,NaN,"ADULT PROTECTION AND CARE SERVICES, Meal Sites...",NaN,Fair Oaks Adult Activity Center,NaN,Colma,active,No wait.,NaN,NaN
1,2,2,NaN,NaN,NaN,Apply by phone for an appointment.,Residents of San Mateo County age 55 or over,Provides training and job placement to eligibl...,"Age 55 or over, county resident and willing an...",NaN,...,NaN,"EMPLOYMENT/TRAINING SERVICES, Job Development,...",NaN,Second Career Employment Program,NaN,San Mateo County,active,Varies.,NaN,NaN
2,3,3,NaN,NaN,NaN,Phone for information (403-4300 Ext. 4322).,Older adults age 55 or over who can benefit fr...,Offers supportive counseling services to San M...,Resident of San Mateo County age 55 or over,NaN,...,NaN,"Geriatric Counseling, Older Adults, Gay, Lesbi...",NaN,Senior Peer Counseling,NaN,San Mateo County,active,Varies.,NaN,NaN
3,4,4,NaN,NaN,NaN,Apply by phone.,"Parents, children, families with problems of c...",Provides supervised visitation services and a ...,None,NaN,...,NaN,"INDIVIDUAL AND FAMILY DEVELOPMENT SERVICES, Gr...",NaN,Family Visitation Center,NaN,San Mateo County,active,No wait.,NaN,NaN
4,5,5,NaN,NaN,NaN,Phone for information.,Low-income working families with children tran...,Provides fixed 8% short term loans to eligible...,Eligibility: Low-income family with legal cust...,NaN,...,NaN,"COMMUNITY SERVICES, Speakers, Automobile Loans",NaN,Economic Self-Sufficiency Program,NaN,San Mateo County,active,NaN,NaN,NaN
5,6,6,NaN,NaN,NaN,Walk in or apply by phone for membership appli...,Any age,A multipurpose center offering a wide variety ...,None,NaN,...,NaN,"ADULT PROTECTION AND CARE SERVICES, In-Home Su...",NaN,Little House Recreational Activities,NaN,San Mateo County,active,No wait.,NaN,NaN
6,7,7,NaN,NaN,NaN,"Apply by phone or be referred by a doctor, soc...","Older adults who have memory or sensory loss, ...",Rosener House is a day center for older adults...,Age 18 or over,NaN,...,NaN,"ADULT PROTECTION AND CARE SERVICES, Adult Day ...",NaN,Rosener House Adult Day Services,NaN,"Belmont, Burlingame, East Palo Alto",active,No wait.,NaN,NaN
7,8,8,NaN,NaN,NaN,Apply by phone.,"Senior citizens age 60 or over, disabled indiv...",Delivers a hot meal to the home of persons age...,Homebound person unable to cook or shop,NaN,...,NaN,"ADULT PROTECTION AND CARE SERVICES, Meal Sites...",NaN,Meals on Wheels - South County,NaN,"Belmont, East Palo Alto",active,No wait.,NaN,NaN
8,9,9,NaN,NaN,NaN,Walk in. Proof of residency in California requ...,"Ethnic minorities, especially Spanish speaking","Provides general reading material, including b...",Resident of California to obtain a library card,NaN,...,NaN,"EDUCATION SERVICES, Library, Libraries, Public...",NaN,Fair Oaks Branch,NaN,San Mateo County,active,No wait.,NaN,NaN
9,10,10,NaN,NaN,NaN,Walk in. Proof of California residency to rece...,NaN,"Provides general reading and media materials, ...",Resident of California to obtain a card,NaN,...,NaN,"EDUCATION SERVICES, Library, Libraries, Public...",NaN,Main Library,NaN,San Mateo County,active,No wait.,NaN,NaN
10,11,11,NaN,NaN,NaN,Walk in. Proof of California residency require...,NaN,"Provides general reading materials, including ...",Resident of California to obtain a library car...,NaN,...,NaN,"EDUCATION SERVICES, Library, Libraries, Public...",NaN,Schaberg Branch,NaN,San Mateo County,active,No wait.,NaN,NaN
11,12,12,NaN,NaN,NaN,"Walk in or apply by phone, email or webpage re...","Adults, parents, children in 1st-12th grades i...",Offers an intergenerational literacy program f...,English-speaking adult reading at or below 7th...,NaN,...,NaN,"EDUCATION SERVICES, Adult, Alternative, Litera...",NaN,Project Read,NaN,Daly City,active,Depends on availability of tutors for small gr...,NaN,NaN
12,13,13,NaN,NaN,NaN,Walk in. Proof of California residency require...,NaN,"Provides general reading materials, including ...",Resident of California to obtain a library card,NaN,...,NaN,"EDUCATION SERVICES, Library, Libraries, Public...",NaN,Redwood Shores Branch,NaN,San Mateo County,active,No wait.,NaN,NaN
13,14,14,NaN,NaN,NaN,Call for appointment. Referral from human serv...,Individuals or families with low or no income ...,"Provides food, clothing, bus tokens and shelte...",None for most services. For emergency assistan...,NaN,...,NaN,"COMMUNITY SERVICES, Interpretation/Translation...",NaN,Redwood City Corps,NaN,"Belmont, Burlingame, East Palo Alto",active,Up to 20 minutes.,NaN,NaN
14,15,15,NaN,NaN,NaN,Walk in or through other agency referral.,Adult alcoholic/drug addictive men and women w...,Provides a long-term (6-12 month) residential ...,"Age 21-60, detoxed, physically able and willin...",NaN,...,NaN,"ALCOHOLISM SERVICES, Residential Care, DRUG AB...",NaN,Adult Rehabilitation Center,NaN,"Alameda County, San Mateo County",active,Varies according to available beds for men and...,NaN,NaN
15,16,16,NaN,NaN,NaN,"Walk in. Written application, identification r...",NaN,Provides emergency assistance including food a...,None for emergency assistance,NaN,...,NaN,"COMMODITY SERVICES, Clothing/Personal Items, C...",NaN,Sunnyvale Corps,NaN,NaN,active,No wait.,NaN,NaN
16,17,17,NaN,NaN,NaN,Call for information.,NaN,"Provides emergency food, clothing and furnitur...",Low-income families,NaN,...,NaN,"COMMODITY SERVICES, Clothing/Personal Items, C...",NaN,South San Francisco Citadel Corps,NaN,"Colma, Daly City, South San Francisco",active,NaN,NaN,NaN
17,18,18,NaN,NaN,NaN,Call for screening appointment. Medical visits...,NaN,"By appointment only, Project Smile provides a ...",Low-income person without access to health care,NaN,...,NaN,"HEALTH SERVICES, Outpatient Care, Community Cl...",NaN,Project Smile,NaN,East Palo Alto,active,Varies.,NaN,NaN
18,19,19,NaN,NaN,NaN,Call for screening appointment (650-347-3648).,NaN,Provides free medical and dental care to those...,Low-income person without access to health care,NaN,...,NaN,"HEALTH SERVICES, Outpatient Care, Community Cl...",NaN,San Mateo Free Medical Clinic,NaN,"Belmont, Burlingame",active,Varies.,NaN,NaN
19,20,20,NaN,NaN,NaN,Walk in.,NaN,no unrequired fields for this service,NaN,NaN,...,NaN,NaN,NaN,Service with blank fields,NaN,NaN,defunct,NaN,NaN,NaN
20,21,21,NaN,NaN,NaN,By phone during business hours.,NaN,just a test service,NaN,NaN,...,NaN,NaN,NaN,Service for Admin Test Location,NaN,San Mateo County,inactive,NaN,NaN,NaN
21,22,22,NaN,"Cash, Check, Credit Card",Fotos para pasaportes,Walk in or apply by phone or mail,"Profit and nonprofit businesses, the public, m...",[NOTE THIS IS NOT A REAL SERVICE--THIS IS FOR ...,None,passports@example.org,...,We offer 3-way interpretation services over th...,"Salud, Medicina",Spanish,Passport Photos,Government-issued picture identification,"Alameda County, San Mateo County",active,No wait to 2 weeks.,http://www.example.com,"105, 108, 108-05, 108-05-01, 111, 111-05"
22,23,22,NaN,NaN,NaN,Walk in or apply by phone or mail,"Second service and nonprofit businesses, the p...",[NOTE THIS IS NOT A REAL ORGANIZATION--THIS IS...,None,NaN,...,NaN,"Ruby on Rails/Postgres/Redis, testing, wic",NaN,Example Service Name,NaN,"San Mateo County, Alameda County",active,No wait to 2 weeks,http://www.example.com,NaN

In [67]:
df = pd.read_csv('taxonomy.csv', header=None)
df

,0,1,2,3
0,taxonomy_id,name,parent_id,parent_name
1,101,Emergency,NaN,NaN
2,101-01,Disaster Response,101,Emergency
3,101-02,Emergency Cash,101,Emergency
4,101-02-01,Help Pay for Food,101-02,Emergency Cash
...,...,...,...,...
286,111-01-07,Workplace Rights,111-01,Advocacy & Legal Aid
287,111-02,Mediation,111,Legal
288,111-03,Notary,111,Legal
289,111-04,Representation,111,Legal
290,111-05,Translation & Interpretation,111,Legal

In [68]:
type(df)

pandas.core.frame.DataFrame

In [69]:
pd.read_csv('taxonomy.csv',names=['A','B','C','D','E'])

,A,B,C,D,E
0,taxonomy_id,name,parent_id,parent_name,NaN
1,101,Emergency,NaN,NaN,NaN
2,101-01,Disaster Response,101,Emergency,NaN
3,101-02,Emergency Cash,101,Emergency,NaN
4,101-02-01,Help Pay for Food,101-02,Emergency Cash,NaN
...,...,...,...,...,...
286,111-01-07,Workplace Rights,111-01,Advocacy & Legal Aid,NaN
287,111-02,Mediation,111,Legal,NaN
288,111-03,Notary,111,Legal,NaN
289,111-04,Representation,111,Legal,NaN
290,111-05,Translation & Interpretation,111,Legal,NaN

In [70]:
pd.read_csv('taxonomy.csv',names=['A','B','C'])

                                        A          B                     C
taxonomy_id                          name  parent_id           parent_name
101                             Emergency        NaN                   NaN
101-01                  Disaster Response        101             Emergency
101-02                     Emergency Cash        101             Emergency
101-02-01               Help Pay for Food     101-02        Emergency Cash
...                                   ...        ...                   ...
111-01-07                Workplace Rights     111-01  Advocacy & Legal Aid
111-02                          Mediation        111                 Legal
111-03                             Notary        111                 Legal
111-04                     Representation        111                 Legal
111-05       Translation & Interpretation        111                 Legal

[291 rows x 3 columns]

In [71]:
pd.read_csv('taxonomy.csv',names=['A','B'])

                                                  A                     B
taxonomy_id name                          parent_id           parent_name
101         Emergency                           NaN                   NaN
101-01      Disaster Response                   101             Emergency
101-02      Emergency Cash                      101             Emergency
101-02-01   Help Pay for Food                101-02        Emergency Cash
...                                             ...                   ...
111-01-07   Workplace Rights                 111-01  Advocacy & Legal Aid
111-02      Mediation                           111                 Legal
111-03      Notary                              111                 Legal
111-04      Representation                      111                 Legal
111-05      Translation & Interpretation        111                 Legal

[291 rows x 2 columns]

In [72]:
pd.read_csv('data.csv',sep='|', skiprows=[1,3])

    Name          EmailId   Address  pincode sirname
0  krish  krish@gmail.com  banglore   560085    naik

In [73]:
df = pd.read_csv('services.csv')

In [74]:
type(df)

pandas.core.frame.DataFrame

In [75]:
df.dtypes # in pandas string value is call object

id                           int64
location_id                  int64
program_id                 float64
accepted_payments           object
alternate_name              object
application_process         object
audience                    object
description                 object
eligibility                 object
email                       object
fees                        object
funding_sources             object
interpretation_services     object
keywords                    object
languages                   object
name                        object
required_documents          object
service_areas               object
status                      object
wait_time                   object
website                     object
taxonomy_ids                object
dtype: object

In [76]:
df.head(2)

,id,location_id,program_id,accepted_payments,alternate_name,application_process,audience,description,eligibility,email,...,interpretation_services,keywords,languages,name,required_documents,service_areas,status,wait_time,website,taxonomy_ids
0,1,1,NaN,NaN,NaN,Walk in or apply by phone.,"Older adults age 55 or over, ethnic minorities...",A walk-in center for older adults that provide...,"Age 55 or over for most programs, age 60 or ov...",NaN,...,NaN,"ADULT PROTECTION AND CARE SERVICES, Meal Sites...",NaN,Fair Oaks Adult Activity Center,NaN,Colma,active,No wait.,NaN,NaN
1,2,2,NaN,NaN,NaN,Apply by phone for an appointment.,Residents of San Mateo County age 55 or over,Provides training and job placement to eligibl...,"Age 55 or over, county resident and willing an...",NaN,...,NaN,"EMPLOYMENT/TRAINING SERVICES, Job Development,...",NaN,Second Career Employment Program,NaN,San Mateo County,active,Varies.,NaN,NaN

In [77]:
df.tail(2)

,id,location_id,program_id,accepted_payments,alternate_name,application_process,audience,description,eligibility,email,...,interpretation_services,keywords,languages,name,required_documents,service_areas,status,wait_time,website,taxonomy_ids
21,22,22,NaN,"Cash, Check, Credit Card",Fotos para pasaportes,Walk in or apply by phone or mail,"Profit and nonprofit businesses, the public, m...",[NOTE THIS IS NOT A REAL SERVICE--THIS IS FOR ...,None,passports@example.org,...,We offer 3-way interpretation services over th...,"Salud, Medicina",Spanish,Passport Photos,Government-issued picture identification,"Alameda County, San Mateo County",active,No wait to 2 weeks.,http://www.example.com,"105, 108, 108-05, 108-05-01, 111, 111-05"
22,23,22,NaN,NaN,NaN,Walk in or apply by phone or mail,"Second service and nonprofit businesses, the p...",[NOTE THIS IS NOT A REAL ORGANIZATION--THIS IS...,None,NaN,...,NaN,"Ruby on Rails/Postgres/Redis, testing, wic",NaN,Example Service Name,NaN,"San Mateo County, Alameda County",active,No wait to 2 weeks,http://www.example.com,NaN

In [78]:
df.columns

Index(['id', 'location_id', 'program_id', 'accepted_payments',
       'alternate_name', 'application_process', 'audience', 'description',
       'eligibility', 'email', 'fees', 'funding_sources',
       'interpretation_services', 'keywords', 'languages', 'name',
       'required_documents', 'service_areas', 'status', 'wait_time', 'website',
       'taxonomy_ids'],
      dtype='object')

In [79]:
df.dtypes

id                           int64
location_id                  int64
program_id                 float64
accepted_payments           object
alternate_name              object
application_process         object
audience                    object
description                 object
eligibility                 object
email                       object
fees                        object
funding_sources             object
interpretation_services     object
keywords                    object
languages                   object
name                        object
required_documents          object
service_areas               object
status                      object
wait_time                   object
website                     object
taxonomy_ids                object
dtype: object

In [80]:
df.columns

Index(['id', 'location_id', 'program_id', 'accepted_payments',
       'alternate_name', 'application_process', 'audience', 'description',
       'eligibility', 'email', 'fees', 'funding_sources',
       'interpretation_services', 'keywords', 'languages', 'name',
       'required_documents', 'service_areas', 'status', 'wait_time', 'website',
       'taxonomy_ids'],
      dtype='object')

In [81]:
df['email']

0                       NaN
1                       NaN
2                       NaN
3                       NaN
4                       NaN
5                       NaN
6                       NaN
7                       NaN
8                       NaN
9                       NaN
10                      NaN
11                      NaN
12                      NaN
13                      NaN
14                      NaN
15                      NaN
16                      NaN
17                      NaN
18                      NaN
19                      NaN
20                      NaN
21    passports@example.org
22                      NaN
Name: email, dtype: object

In [82]:
df['keywords']

0     ADULT PROTECTION AND CARE SERVICES, Meal Sites...
1     EMPLOYMENT/TRAINING SERVICES, Job Development,...
2     Geriatric Counseling, Older Adults, Gay, Lesbi...
3     INDIVIDUAL AND FAMILY DEVELOPMENT SERVICES, Gr...
4        COMMUNITY SERVICES, Speakers, Automobile Loans
5     ADULT PROTECTION AND CARE SERVICES, In-Home Su...
6     ADULT PROTECTION AND CARE SERVICES, Adult Day ...
7     ADULT PROTECTION AND CARE SERVICES, Meal Sites...
8     EDUCATION SERVICES, Library, Libraries, Public...
9     EDUCATION SERVICES, Library, Libraries, Public...
10    EDUCATION SERVICES, Library, Libraries, Public...
11    EDUCATION SERVICES, Adult, Alternative, Litera...
12    EDUCATION SERVICES, Library, Libraries, Public...
13    COMMUNITY SERVICES, Interpretation/Translation...
14    ALCOHOLISM SERVICES, Residential Care, DRUG AB...
15    COMMODITY SERVICES, Clothing/Personal Items, C...
16    COMMODITY SERVICES, Clothing/Personal Items, C...
17    HEALTH SERVICES, Outpatient Care, Community Cl...
18    HEALTH SERVICES, Outpatient Care, Community Cl...
19                                                  NaN
20                                                  NaN
21                                      Salud, Medicina
22           Ruby on Rails/Postgres/Redis, testing, wic
Name: keywords, dtype: object

In [83]:
df['name']

0          Fair Oaks Adult Activity Center
1         Second Career Employment Program
2                   Senior Peer Counseling
3                 Family Visitation Center
4        Economic Self-Sufficiency Program
5     Little House Recreational Activities
6         Rosener House Adult Day Services
7           Meals on Wheels - South County
8                         Fair Oaks Branch
9                             Main Library
10                         Schaberg Branch
11                            Project Read
12                   Redwood Shores Branch
13                      Redwood City Corps
14             Adult Rehabilitation Center
15                         Sunnyvale Corps
16       South San Francisco Citadel Corps
17                           Project Smile
18           San Mateo Free Medical Clinic
19               Service with blank fields
20         Service for Admin Test Location
21                         Passport Photos
22                    Example Service Name
Name: name, dtype: object

In [84]:
a = df['name']

In [85]:
type(a)

pandas.core.series.Series

In [86]:
df[['name','location_id','email']]

                                    name  location_id                  email
0        Fair Oaks Adult Activity Center            1                    NaN
1       Second Career Employment Program            2                    NaN
2                 Senior Peer Counseling            3                    NaN
3               Family Visitation Center            4                    NaN
4      Economic Self-Sufficiency Program            5                    NaN
5   Little House Recreational Activities            6                    NaN
6       Rosener House Adult Day Services            7                    NaN
7         Meals on Wheels - South County            8                    NaN
8                       Fair Oaks Branch            9                    NaN
9                           Main Library           10                    NaN
10                       Schaberg Branch           11                    NaN
11                          Project Read           12                    NaN
12                 Redwood Shores Branch           13                    NaN
13                    Redwood City Corps           14                    NaN
14           Adult Rehabilitation Center           15                    NaN
15                       Sunnyvale Corps           16                    NaN
16     South San Francisco Citadel Corps           17                    NaN
17                         Project Smile           18                    NaN
18         San Mateo Free Medical Clinic           19                    NaN
19             Service with blank fields           20                    NaN
20       Service for Admin Test Location           21                    NaN
21                       Passport Photos           22  passports@example.org
22                  Example Service Name           22                    NaN

In [87]:
type(df[['name']])

pandas.core.frame.DataFrame

In [88]:
df = pd.read_excel('MyPersonalData.xlsx',sheet_name=0)
df

   Topic to be covered                     Unnamed: 1
0                  NaN                            NaN
1                S No.                       Subject
2                    1  Data structure and Algorithms
3                    2    Data Base Management System
4                    3                    statistics
5                    4                          Flask
6                    5             Data Visualization
7                    6      Exploratory Data Analysis
8                    7               Machine learning
9                    8                  Deep Learning
10                   9                Computer Vision
11                  10   Natural Language Processing
12                  11                          Excel
13                  12                       Tableaue
14                  13                       Power BI
15                  14                      Aptitude
16                  15                            GIT
17                  16                             ..

In [89]:
pd.read_excel('MyPersonalData.xlsx',sheet_name=1)

,Data structure and Algorithms,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,S No.,Topics,started date,expected to finish,status,Revision 1,started date,expected to finish,status,revision 2,started date,expected to finish,status
2,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,6,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,7,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,8,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [90]:
pd.read_excel('MyPersonalData.xlsx',sheet_name=2)

,Statistics,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,S No.,Topics,started date,expected to finish,status,Revision 1,started date,expected to finish,status,revision 2,started date,expected to finish,status
2,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,6,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,7,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,8,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,9,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [91]:
pd.read_excel('MyPersonalData.xlsx',sheet_name=3)

,Database Management System,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,S No.,Topics,started date,expected to finish,status,Revision 1,started date,expected to finish,status,revision 2,started date,expected to finish,status
2,1,SQL,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,6,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,7,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,8,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [92]:
pd.read_excel('MyPersonalData.xlsx',sheet_name=4)

,Daily Routine,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Day,date,Topics,NaN,NaN,NaN,NaN,NaN,NaN
2,Monday,2022-01-31 00:00:00,Linked List,time complexity,NaN,NaN,NaN,NaN,NaN
3,Tuesday,2022-02-01 00:00:00,"Linked List, tree",SQL,space complexity,NaN,NaN,NaN,NaN
4,Wednesday,2022-02-02 00:00:00,tree,SQL,maths,NaN,NaN,NaN,NaN
5,Thursday,2022-02-03 00:00:00,"sorting,searching",SQL,maths,NaN,NaN,NaN,NaN
6,Friday,2022-02-04 00:00:00,searching,SQL,maths,NaN,NaN,NaN,NaN
7,Saturday,2022-02-05 00:00:00,heap,NaN,maths,NaN,NaN,NaN,NaN
8,Sunday,2022-02-06 00:00:00,heap,NaN,Statistics,NaN,NaN,NaN,NaN
9,Monday,2022-02-07 00:00:00,stack and queue,NaN,NaN,NaN,NaN,NaN,NaN
10,Tuesday,2022-02-08 00:00:00,"Greedy, array",NaN,NaN,NaN,NaN,NaN,NaN
11,Wednesday,2022-02-09 00:00:00,array,NaN,NaN,NaN,NaN,NaN,NaN
12,Thursday,2022-02-10 00:00:00,string,bit manipulation,NaN,NaN,NaN,NaN,NaN
13,Friday,2022-02-11 00:00:00,"string,grapg",dynammic programming,NaN,NaN,NaN,NaN,NaN
14,Saturday,2022-02-12 00:00:00,"graph,hashing",NaN,NaN,NaN,NaN,NaN,NaN
15,Sunday,2022-02-13 00:00:00,dynammic programming,NaN,NaN,NaN,NaN,NaN,NaN
16,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Rough Idea,NaN
17,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18,Monday,2022-02-14 00:00:00,NaN,NaN,NaN,NaN,NaN,Date,Topic
19,Tuesday,2022-02-15 00:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN
20,Wednesday,2022-02-16 00:00:00,NaN,NaN,NaN,NaN,NaN,21---25 Feb,NaN
21,Thursday,2022-02-17 00:00:00,NaN,NaN,NaN,NaN,NaN,28 Feb - 4 Mar,NaN
22,Friday,2022-02-18 00:00:00,NaN,GIT,NaN,NaN,NaN,"7 - 11,14,15 Mar",NaN
23,Saturday,2022-02-19 00:00:00,NaN,GIT,NaN,NaN,NaN,"16 - 18,21-25 Mar",NaN
24,Sunday,2022-02-20 00:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25,Monday,2022-02-21 00:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN
26,Tuesday,2022-02-22 00:00:00,git,statistics,Recursion,NaN,NaN,NaN,NaN
27,Wednesday,2022-02-23 00:00:00,python functions Assignment,python Module Assignment,Array,NaN,NaN,NaN,NaN
28,Thursday,2022-02-24 00:00:00,SQL and MongoDB assignments,Assignment 3,Array,NaN,NaN,NaN,NaN
29,Friday,2022-02-25 00:00:00,andvanced Python and Flask,Assignment 4,String,NaN,NaN,NaN,NaN
30,Saturday,2022-02-26 00:00:00,NaN,Aptitude,String,NaN,NaN,NaN,NaN
31,Sunday,2022-02-27 00:00:00,NaN,Aptitude,Sorting,NaN,NaN,NaN,Searching
32,Monday,2022-02-28 00:00:00,NaN,Aptitude,Sorting,NaN,NaN,NaN,Searching
33,Tuesday,2022-03-01 00:00:00,NaN,Aptitude,NaN,NaN,NaN,NaN,Linked List
34,Wednesday,2022-03-02 00:00:00,NaN,Aptitude,NaN,NaN,NaN,NaN,Linked List
35,Thursday,2022-03-03 00:00:00,NaN,NaN,Stack and Queue,NaN,NaN,NaN,Tree
36,Friday,2022-03-04 00:00:00,NaN,Aptitude,Stack and Queue,NaN,NaN,NaN,Tree
37,Saturday,2022-03-05 00:00:00,NaN,Aptitude,Greedy,NaN,NaN,NaN,Heap
38,Sunday,2022-03-06 00:00:00,NaN,Aptitude,Greedy,NaN,NaN,NaN,Heap
39,Monday,2022-03-07 00:00:00,NaN,Aptitude,NaN,NaN,NaN,NaN,NaN
40,Tuesday,2022-03-08 00:00:00,NaN,Aptitude,Graph,NaN,NaN,NaN,NaN
41,Wednesday,2022-03-09 00:00:00,NaN,NaN,Graph,NaN,NaN,NaN,NaN
42,Thursday,2022-03-10 00:00:00,NaN,Aptitude,Hashing,NaN,NaN,NaN,NaN
43,Friday,2022-03-11 00:00:00,NaN,Aptitude,Hashing,NaN,NaN,NaN,NaN
44,Saturday,2022-03-12 00:00:00,NaN,Aptitude,Maths Programs,NaN,NaN,NaN,NaN
45,Sunday,2022-03-13 00:00:00,NaN,Aptitude,Maths Programs,NaN,NaN,NaN,NaN
46,Monday,2022-03-14 00:00:00,NaN,Aptitude,NaN,NaN,NaN,NaN,NaN
47,Tuesday,2022-03-15 00:00:00,NaN,NaN,Dynamic Programming,NaN,NaN,NaN,NaN
48,Wednesday,2022-03-16 00:00:00,NaN,Aptitude,Dynamic Programming,NaN,NaN,NaN,NaN
49,Thursday,2022-03-17 00:00:00,NaN,Aptitude,Bit Manupulation,NaN,NaN,NaN,NaN
50,Friday,2022-03-18 00:00:00,NaN,Aptitude,Bit Manupulation,NaN,NaN,NaN,NaN

In [93]:
pd.read_excel('MyPersonalData.xlsx',sheet_name=5)

   Daily Work           Unnamed: 1 Unnamed: 2 Unnamed: 3 Unnamed: 4
0         NaN                  NaN        NaN        NaN        NaN
1         NaN                  NaN        NaN        NaN        NaN
2         NaN                  NaN        NaN        NaN        NaN
3         Day                 Date     Topic1     Topic2     Topic3
4      Monday  2022-02-21 00:00:00        NaN        NaN        NaN
..        ...                  ...        ...        ...        ...
65   Saturday  2022-04-23 00:00:00        NaN        NaN        NaN
66     Sunday  2022-04-24 00:00:00        NaN        NaN        NaN
67     Monday  2022-04-25 00:00:00        NaN        NaN        NaN
68    Tuesday  2022-04-26 00:00:00        NaN        NaN        NaN
69  Wednesday  2022-04-27 00:00:00        NaN        NaN        NaN

[70 rows x 5 columns]

In [94]:
df = pd.ExcelFile('MyPersonalData.xlsx')

In [95]:
df.sheet_names

['Topics', 'DSA', 'Stat', 'DBMS', 'Daily target', 'Sheet1']

In [96]:
for i in df.sheet_names:
    data = pd.read_excel('MyPersonalData.xlsx',sheet_name=i)
    print(data)

   Topic to be covered                     Unnamed: 1
0                  NaN                            NaN
1                S No.                       Subject
2                    1  Data structure and Algorithms
3                    2    Data Base Management System
4                    3                    statistics
5                    4                          Flask
6                    5             Data Visualization
7                    6      Exploratory Data Analysis
8                    7               Machine learning
9                    8                  Deep Learning
10                   9                Computer Vision
11                  10   Natural Language Processing
12                  11                          Excel
13                  12                       Tableaue
14                  13                       Power BI
15                  14                      Aptitude
16                  15                            GIT
17                  16                             ..
  Data structure and Algorithms Unnamed: 1     Unnamed: 2          Unnamed: 3  \
0                           NaN        NaN            NaN                 NaN
1                         S No.     Topics  started date   expected to finish
2                             1        NaN            NaN                 NaN
3                             2        NaN            NaN                 NaN
4                             3        NaN            NaN                 NaN
5                             4        NaN            NaN                 NaN
6                             5        NaN            NaN                 NaN
7                             6        NaN            NaN                 NaN
8                             7        NaN            NaN                 NaN
9                             8        NaN            NaN                 NaN

  Unnamed: 4  Unnamed: 5     Unnamed: 6          Unnamed: 7 Unnamed: 8  \
0        NaN         NaN            NaN                 NaN        NaN
1     status  Revision 1  started date   expected to finish     status
2        NaN         NaN            NaN                 NaN        NaN
3        NaN         NaN            NaN                 NaN        NaN
4        NaN         NaN            NaN                 NaN        NaN
5        NaN         NaN            NaN                 NaN        NaN
6        NaN         NaN            NaN                 NaN        NaN
7        NaN         NaN            NaN                 NaN        NaN
8        NaN         NaN            NaN                 NaN        NaN
9        NaN         NaN            NaN                 NaN        NaN

   Unnamed: 9    Unnamed: 10         Unnamed: 11 Unnamed: 12
0         NaN            NaN                 NaN         NaN
1  revision 2  started date   expected to finish      status
2         NaN            NaN                 NaN         NaN
3         NaN            NaN                 NaN         NaN
4         NaN            NaN                 NaN         NaN
5         NaN            NaN                 NaN         NaN
6         NaN            NaN                 NaN         NaN
7         NaN            NaN                 NaN         NaN
8         NaN            NaN                 NaN         NaN
9         NaN            NaN                 NaN         NaN
   Statistics Unnamed: 1     Unnamed: 2          Unnamed: 3 Unnamed: 4  \
0         NaN        NaN            NaN                 NaN        NaN
1       S No.     Topics  started date   expected to finish     status
2           1        NaN            NaN                 NaN        NaN
3           2        NaN            NaN                 NaN        NaN
4           3        NaN            NaN                 NaN        NaN
5           4        NaN            NaN                 NaN        NaN
6           5        NaN            NaN                 NaN        NaN
7           6        NaN            NaN                 NaN        NaN
8           7        NaN            NaN                 NaN        NaN
9           8        NaN            NaN                 NaN        NaN
10          9        NaN            NaN                 NaN        NaN

    Unnamed: 5     Unnamed: 6          Unnamed: 7 Unnamed: 8  Unnamed: 9  \
0          NaN            NaN                 NaN        NaN         NaN
1   Revision 1  started date   expected to finish     status  revision 2
2          NaN            NaN                 NaN        NaN         NaN
3          NaN            NaN                 NaN        NaN         NaN
4          NaN            NaN                 NaN        NaN         NaN
5          NaN            NaN                 NaN        NaN         NaN
6          NaN            NaN                 NaN        NaN         NaN
7          NaN            NaN                 NaN        NaN         NaN
8          NaN            NaN                 NaN        NaN         NaN
9          NaN            NaN                 NaN        NaN         NaN
10         NaN            NaN                 NaN        NaN         NaN

      Unnamed: 10         Unnamed: 11 Unnamed: 12
0             NaN                 NaN         NaN
1   started date   expected to finish      status
2             NaN                 NaN         NaN
3             NaN                 NaN         NaN
4             NaN                 NaN         NaN
5             NaN                 NaN         NaN
6             NaN                 NaN         NaN
7             NaN                 NaN         NaN
8             NaN                 NaN         NaN
9             NaN                 NaN         NaN
10            NaN                 NaN         NaN
  Database Management System Unnamed: 1     Unnamed: 2          Unnamed: 3  \
0                        NaN        NaN            NaN                 NaN
1                      S No.     Topics  started date   expected to finish
2                          1        SQL            NaN                 NaN
3                          2        NaN            NaN                 NaN
4                          3        NaN            NaN                 NaN
5                          4        NaN            NaN                 NaN
6                          5        NaN            NaN                 NaN
7                          6        NaN            NaN                 NaN
8                          7        NaN            NaN                 NaN
9                          8        NaN            NaN                 NaN

  Unnamed: 4  Unnamed: 5     Unnamed: 6          Unnamed: 7 Unnamed: 8  \
0        NaN         NaN            NaN                 NaN        NaN
1     status  Revision 1  started date   expected to finish     status
2        NaN         NaN            NaN                 NaN        NaN
3        NaN         NaN            NaN                 NaN        NaN
4        NaN         NaN            NaN                 NaN        NaN
5        NaN         NaN            NaN                 NaN        NaN
6        NaN         NaN            NaN                 NaN        NaN
7        NaN         NaN            NaN                 NaN        NaN
8        NaN         NaN            NaN                 NaN        NaN
9        NaN         NaN            NaN                 NaN        NaN

   Unnamed: 9    Unnamed: 10         Unnamed: 11 Unnamed: 12
0         NaN            NaN                 NaN         NaN
1  revision 2  started date   expected to finish      status
2         NaN            NaN                 NaN         NaN
3         NaN            NaN                 NaN         NaN
4         NaN            NaN                 NaN         NaN
5         NaN            NaN                 NaN         NaN
6         NaN            NaN                 NaN         NaN
7         NaN            NaN                 NaN         NaN
8         NaN            NaN                 NaN         NaN
9         NaN            NaN                 NaN         NaN
   Daily Routine           Unnamed: 1                   Unnamed: 2  \
0            NaN                  NaN                          NaN
1            Day                 date                      Topics
2         Monday  2022-01-31 00:00:00                  Linked List
3        Tuesday  2022-02-01 00:00:00            Linked List, tree
4      Wednesday  2022-02-02 00:00:00                         tree
5       Thursday  2022-02-03 00:00:00            sorting,searching
6         Friday  2022-02-04 00:00:00                    searching
7       Saturday  2022-02-05 00:00:00                         heap
8         Sunday  2022-02-06 00:00:00                         heap
9         Monday  2022-02-07 00:00:00              stack and queue
10       Tuesday  2022-02-08 00:00:00                Greedy, array
11     Wednesday  2022-02-09 00:00:00                        array
12      Thursday  2022-02-10 00:00:00                       string
13        Friday  2022-02-11 00:00:00                 string,grapg
14      Saturday  2022-02-12 00:00:00                graph,hashing
15        Sunday  2022-02-13 00:00:00         dynammic programming
16           NaN                  NaN                          NaN
17           NaN                  NaN                          NaN
18        Monday  2022-02-14 00:00:00                          NaN
19       Tuesday  2022-02-15 00:00:00                          NaN
20     Wednesday  2022-02-16 00:00:00                          NaN
21      Thursday  2022-02-17 00:00:00                          NaN
22        Friday  2022-02-18 00:00:00                          NaN
23      Saturday  2022-02-19 00:00:00                          NaN
24        Sunday  2022-02-20 00:00:00                          NaN
25        Monday  2022-02-21 00:00:00                          NaN
26       Tuesday  2022-02-22 00:00:00                         git
27     Wednesday  2022-02-23 00:00:00  python functions Assignment
28      Thursday  2022-02-24 00:00:00  SQL and MongoDB assignments
29        Friday  2022-02-25 00:00:00  andvanced Python and Flask
30      Saturday  2022-02-26 00:00:00                          NaN
31        Sunday  2022-02-27 00:00:00                          NaN
32        Monday  2022-02-28 00:00:00                          NaN
33       Tuesday  2022-03-01 00:00:00                          NaN
34     Wednesday  2022-03-02 00:00:00                          NaN
35      Thursday  2022-03-03 00:00:00                          NaN
36        Friday  2022-03-04 00:00:00                          NaN
37      Saturday  2022-03-05 00:00:00                          NaN
38        Sunday  2022-03-06 00:00:00                          NaN
39        Monday  2022-03-07 00:00:00                          NaN
40       Tuesday  2022-03-08 00:00:00                          NaN
41     Wednesday  2022-03-09 00:00:00                          NaN
42      Thursday  2022-03-10 00:00:00                          NaN
43        Friday  2022-03-11 00:00:00                          NaN
44      Saturday  2022-03-12 00:00:00                          NaN
45        Sunday  2022-03-13 00:00:00                          NaN
46        Monday  2022-03-14 00:00:00                          NaN
47       Tuesday  2022-03-15 00:00:00                          NaN
48     Wednesday  2022-03-16 00:00:00                          NaN
49      Thursday  2022-03-17 00:00:00                          NaN
50        Friday  2022-03-18 00:00:00                          NaN

                  Unnamed: 3           Unnamed: 4  Unnamed: 5  Unnamed: 6  \
0                        NaN                  NaN         NaN         NaN
1                        NaN                  NaN         NaN         NaN
2            time complexity                  NaN         NaN         NaN
3                        SQL     space complexity         NaN         NaN
4                        SQL                maths         NaN         NaN
5                        SQL                maths         NaN         NaN
6                        SQL                maths         NaN         NaN
7                        NaN                maths         NaN         NaN
8                        NaN           Statistics         NaN         NaN
9                        NaN                  NaN         NaN         NaN
10                       NaN                  NaN         NaN         NaN
11                       NaN                  NaN         NaN         NaN
12          bit manipulation                  NaN         NaN         NaN
13      dynammic programming                  NaN         NaN         NaN
14                       NaN                  NaN         NaN         NaN
15                       NaN                  NaN         NaN         NaN
16                       NaN                  NaN         NaN         NaN
17                       NaN                  NaN         NaN         NaN
18                       NaN                  NaN         NaN         NaN
19                       NaN                  NaN         NaN         NaN
20                       NaN                  NaN         NaN         NaN
21                       NaN                  NaN         NaN         NaN
22                       GIT                  NaN         NaN         NaN
23                       GIT                  NaN         NaN         NaN
24                       NaN                  NaN         NaN         NaN
25                       NaN                  NaN         NaN         NaN
26                statistics            Recursion         NaN         NaN
27  python Module Assignment                Array         NaN         NaN
28              Assignment 3                Array         NaN         NaN
29              Assignment 4               String         NaN         NaN
30                 Aptitude                String         NaN         NaN
31                 Aptitude               Sorting         NaN         NaN
32                 Aptitude               Sorting         NaN         NaN
33                 Aptitude                   NaN         NaN         NaN
34                 Aptitude                   NaN         NaN         NaN
35                       NaN      Stack and Queue         NaN         NaN
36                 Aptitude       Stack and Queue         NaN         NaN
37                 Aptitude                Greedy         NaN         NaN
38                 Aptitude                Greedy         NaN         NaN
39                 Aptitude                   NaN         NaN         NaN
40                 Aptitude                 Graph         NaN         NaN
41                       NaN                Graph         NaN         NaN
42                 Aptitude               Hashing         NaN         NaN
43                 Aptitude               Hashing         NaN         NaN
44                 Aptitude        Maths Programs         NaN         NaN
45                 Aptitude        Maths Programs         NaN         NaN
46                 Aptitude                   NaN         NaN         NaN
47                       NaN  Dynamic Programming         NaN         NaN
48                 Aptitude   Dynamic Programming         NaN         NaN
49                 Aptitude      Bit Manupulation         NaN         NaN
50                 Aptitude      Bit Manupulation         NaN         NaN

           Unnamed: 7   Unnamed: 8
0                 NaN          NaN
1                 NaN          NaN
2                 NaN          NaN
3                 NaN          NaN
4                 NaN          NaN
5                 NaN          NaN
6                 NaN          NaN
7                 NaN          NaN
8                 NaN          NaN
9                 NaN          NaN
10                NaN          NaN
11                NaN          NaN
12                NaN          NaN
13                NaN          NaN
14                NaN          NaN
15                NaN          NaN
16         Rough Idea          NaN
17                NaN          NaN
18               Date        Topic
19                NaN          NaN
20        21---25 Feb          NaN
21     28 Feb - 4 Mar          NaN
22  7 - 11,14,15 Mar           NaN
23  16 - 18,21-25 Mar          NaN
24                NaN          NaN
25                NaN          NaN
26                NaN          NaN
27                NaN          NaN
28                NaN          NaN
29                NaN          NaN
30                NaN          NaN
31                NaN    Searching
32                NaN    Searching
33                NaN  Linked List
34                NaN  Linked List
35                NaN         Tree
36                NaN         Tree
37                NaN         Heap
38                NaN         Heap
39                NaN          NaN
40                NaN          NaN
41                NaN          NaN
42                NaN          NaN
43                NaN          NaN
44                NaN          NaN
45                NaN          NaN
46                NaN          NaN
47                NaN          NaN
48                NaN          NaN
49                NaN          NaN
50                NaN          NaN
   Daily Work           Unnamed: 1 Unnamed: 2 Unnamed: 3 Unnamed: 4
0         NaN                  NaN        NaN        NaN        NaN
1         NaN                  NaN        NaN        NaN        NaN
2         NaN                  NaN        NaN        NaN        NaN
3         Day                 Date     Topic1     Topic2     Topic3
4      Monday  2022-02-21 00:00:00        NaN        NaN        NaN
..        ...                  ...        ...        ...        ...
65   Saturday  2022-04-23 00:00:00        NaN        NaN        NaN
66     Sunday  2022-04-24 00:00:00        NaN        NaN        NaN
67     Monday  2022-04-25 00:00:00        NaN        NaN        NaN
68    Tuesday  2022-04-26 00:00:00        NaN        NaN        NaN
69  Wednesday  2022-04-27 00:00:00        NaN        NaN        NaN

[70 rows x 5 columns]

In [97]:
pd.read_csv('https://raw.githubusercontent.com/datasciencedojo/datasets/master/titanic.csv')

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S
...,...,...,...,...,...,...,...,...,...,...,...,...
886,887,0,2,"Montvila, Rev. Juozas",male,27.0,0,0,211536,13.0000,NaN,S
887,888,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.0000,B42,S
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,1,2,W./C. 6607,23.4500,NaN,S
889,890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.0000,C148,C
890,891,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.7500,NaN,Q

In [98]:
df = pd.read_html('https://www.basketball-reference.com/leagues/NBA_2015_totals.html')
df

[      Rk          Player Pos Age   Tm   G  GS    MP   FG  FGA  ...   FT%  ORB  \
 0      1      Quincy Acy  PF  24  NYK  68  22  1287  152  331  ...  .784   79
 1      2    Jordan Adams  SG  20  MEM  30   0   248   35   86  ...  .609    9
 2      3    Steven Adams   C  21  OKC  70  67  1771  217  399  ...  .502  199
 3      4     Jeff Adrien  PF  28  MIN  17   0   215   19   44  ...  .579   23
 4      5   Arron Afflalo  SG  29  TOT  78  72  2502  375  884  ...  .843   27
 ..   ...             ...  ..  ..  ...  ..  ..   ...  ...  ...  ...   ...  ...
 670  490  Thaddeus Young  PF  26  TOT  76  68  2434  451  968  ...  .655  127
 671  490  Thaddeus Young  PF  26  MIN  48  48  1605  289  641  ...  .682   75
 672  490  Thaddeus Young  PF  26  BRK  28  20   829  162  327  ...  .606   52
 673  491     Cody Zeller   C  22  CHO  62  45  1487  172  373  ...  .774   97
 674  492    Tyler Zeller   C  25  BOS  82  59  1731  340  619  ...  .823  146

      DRB  TRB  AST  STL BLK  TOV   PF   PTS
 0    222  301   68   27  22   60  147   398
 1     19   28   16   16   7   14   24    94
 2    324  523   66   38  86   99  222   537
 3     54   77   15    4   9    9   30    60
 4    220  247  129   41   7  116  167  1035
 ..   ...  ...  ...  ...  ..  ...  ...   ...
 670  284  411  173  124  25  117  171  1071
 671  170  245  135   86  17   75  115   685
 672  114  166   38   38   8   42   56   386
 673  265  362  100   34  49   62  156   472
 674  319  465  113   18  52   76  205   833

 [675 rows x 30 columns]]

In [99]:
type(df)

list

In [100]:
len(df)

1

In [101]:
df[0]

,Rk,Player,Pos,Age,Tm,G,GS,MP,FG,FGA,...,FT%,ORB,DRB,TRB,AST,STL,BLK,TOV,PF,PTS
0,1,Quincy Acy,PF,24,NYK,68,22,1287,152,331,...,.784,79,222,301,68,27,22,60,147,398
1,2,Jordan Adams,SG,20,MEM,30,0,248,35,86,...,.609,9,19,28,16,16,7,14,24,94
2,3,Steven Adams,C,21,OKC,70,67,1771,217,399,...,.502,199,324,523,66,38,86,99,222,537
3,4,Jeff Adrien,PF,28,MIN,17,0,215,19,44,...,.579,23,54,77,15,4,9,9,30,60
4,5,Arron Afflalo,SG,29,TOT,78,72,2502,375,884,...,.843,27,220,247,129,41,7,116,167,1035
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
670,490,Thaddeus Young,PF,26,TOT,76,68,2434,451,968,...,.655,127,284,411,173,124,25,117,171,1071
671,490,Thaddeus Young,PF,26,MIN,48,48,1605,289,641,...,.682,75,170,245,135,86,17,75,115,685
672,490,Thaddeus Young,PF,26,BRK,28,20,829,162,327,...,.606,52,114,166,38,38,8,42,56,386
673,491,Cody Zeller,C,22,CHO,62,45,1487,172,373,...,.774,97,265,362,100,34,49,62,156,472
674,492,Tyler Zeller,C,25,BOS,82,59,1731,340,619,...,.823,146,319,465,113,18,52,76,205,833

In [102]:
type(df[0])

pandas.core.frame.DataFrame

In [103]:
df1 = df[0]

In [104]:
df1.columns

Index(['Rk', 'Player', 'Pos', 'Age', 'Tm', 'G', 'GS', 'MP', 'FG', 'FGA', 'FG%',
       '3P', '3PA', '3P%', '2P', '2PA', '2P%', 'eFG%', 'FT', 'FTA', 'FT%',
       'ORB', 'DRB', 'TRB', 'AST', 'STL', 'BLK', 'TOV', 'PF', 'PTS'],
      dtype='object')

In [105]:
df1.head()

,Rk,Player,Pos,Age,Tm,G,GS,MP,FG,FGA,...,FT%,ORB,DRB,TRB,AST,STL,BLK,TOV,PF,PTS
0,1,Quincy Acy,PF,24,NYK,68,22,1287,152,331,...,.784,79,222,301,68,27,22,60,147,398
1,2,Jordan Adams,SG,20,MEM,30,0,248,35,86,...,.609,9,19,28,16,16,7,14,24,94
2,3,Steven Adams,C,21,OKC,70,67,1771,217,399,...,.502,199,324,523,66,38,86,99,222,537
3,4,Jeff Adrien,PF,28,MIN,17,0,215,19,44,...,.579,23,54,77,15,4,9,9,30,60
4,5,Arron Afflalo,SG,29,TOT,78,72,2502,375,884,...,.843,27,220,247,129,41,7,116,167,1035

In [106]:
df1.tail(3)

,Rk,Player,Pos,Age,Tm,G,GS,MP,FG,FGA,...,FT%,ORB,DRB,TRB,AST,STL,BLK,TOV,PF,PTS
672,490,Thaddeus Young,PF,26,BRK,28,20,829,162,327,...,.606,52,114,166,38,38,8,42,56,386
673,491,Cody Zeller,C,22,CHO,62,45,1487,172,373,...,.774,97,265,362,100,34,49,62,156,472
674,492,Tyler Zeller,C,25,BOS,82,59,1731,340,619,...,.823,146,319,465,113,18,52,76,205,833

In [107]:
df1.dtypes

Rk        object
Player    object
Pos       object
Age       object
Tm        object
G         object
GS        object
MP        object
FG        object
FGA       object
FG%       object
3P        object
3PA       object
3P%       object
2P        object
2PA       object
2P%       object
eFG%      object
FT        object
FTA       object
FT%       object
ORB       object
DRB       object
TRB       object
AST       object
STL       object
BLK       object
TOV       object
PF        object
PTS       object
dtype: object

In [108]:
df1[['Age','GS']]

    Age  GS
0    24  22
1    20   0
2    21  67
3    28   0
4    29  72
..   ..  ..
670  26  68
671  26  48
672  26  20
673  22  45
674  25  59

[675 rows x 2 columns]

In [109]:
df1

,Rk,Player,Pos,Age,Tm,G,GS,MP,FG,FGA,...,FT%,ORB,DRB,TRB,AST,STL,BLK,TOV,PF,PTS
0,1,Quincy Acy,PF,24,NYK,68,22,1287,152,331,...,.784,79,222,301,68,27,22,60,147,398
1,2,Jordan Adams,SG,20,MEM,30,0,248,35,86,...,.609,9,19,28,16,16,7,14,24,94
2,3,Steven Adams,C,21,OKC,70,67,1771,217,399,...,.502,199,324,523,66,38,86,99,222,537
3,4,Jeff Adrien,PF,28,MIN,17,0,215,19,44,...,.579,23,54,77,15,4,9,9,30,60
4,5,Arron Afflalo,SG,29,TOT,78,72,2502,375,884,...,.843,27,220,247,129,41,7,116,167,1035
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
670,490,Thaddeus Young,PF,26,TOT,76,68,2434,451,968,...,.655,127,284,411,173,124,25,117,171,1071
671,490,Thaddeus Young,PF,26,MIN,48,48,1605,289,641,...,.682,75,170,245,135,86,17,75,115,685
672,490,Thaddeus Young,PF,26,BRK,28,20,829,162,327,...,.606,52,114,166,38,38,8,42,56,386
673,491,Cody Zeller,C,22,CHO,62,45,1487,172,373,...,.774,97,265,362,100,34,49,62,156,472
674,492,Tyler Zeller,C,25,BOS,82,59,1731,340,619,...,.823,146,319,465,113,18,52,76,205,833

In [110]:
df1.to_csv('NBA.csv')

In [111]:
df1.to_csv('NBA2.csv',index=False,)

In [112]:
data = pd.read_html('https://stats.espncricinfo.com/ci/engine/records/averages/batting.html?class=3;id=6;type=team')
data

[               Player       Span  Mat Inns NO  Runs   HS    Ave   BF      SR  \
 0          AB Agarkar  2006-2007    4    2  0    15   14   7.50   11  136.36
 1            KK Ahmed  2018-2019   14    1  1     1   1*      -    1  100.00
 2           S Aravind  2015-2015    1    -  -     -    -      -    -       -
 3            R Ashwin  2010-2021   51   11  7   123  31*  30.75  115  106.95
 4          Avesh Khan  2022-2022    2    -  -     -    -      -    -       -
 ..                ...        ...  ...  ... ..   ...  ...    ...  ...     ...
 92      R Vinay Kumar  2010-2013    9    1  1     2   2*      -    4   50.00
 93  Washington Sundar  2017-2021   31   11  4    47  14*   6.71   32  146.87
 94           SA Yadav  2021-2022   14   12  3   351   65  39.00  212  165.56
 95           UT Yadav  2012-2019    7    1  0     2    2   2.00    4   50.00
 96       Yuvraj Singh  2007-2017   58   51  9  1177  77*  28.02  863  136.38

    100 50  0  4s  6s
 0    0  0  0   2   0
 1    0  0  0   0   0
 2    -  -  -   -   -
 3    0  0  0  14   1
 4    -  -  -   -   -
 ..  .. .. ..  ..  ..
 92   0  0  0   0   0
 93   0  0  3   4   3
 94   0  4  1  32  20
 95   0  0  0   0   0
 96   0  8  1  77  74

 [97 rows x 15 columns],
                                                    0
 0  By default, the shading indicates records from...
 1  Adjust:  most recent  | past week  | past mont...,
                                                    0
 0  Records includes the following current or rece...
 1  India v Sri Lanka at Dharamsala, 3rd T20I, Feb...
 2  India v Sri Lanka at Dharamsala, 2nd T20I, Feb...
 3  India v Sri Lanka at Lucknow, 1st T20I, Feb 24...]

In [113]:
len(data)

3

In [114]:
data[0]

,Player,Span,Mat,Inns,NO,Runs,HS,Ave,BF,SR,100,50,0,4s,6s
0,AB Agarkar,2006-2007,4,2,0,15,14,7.50,11,136.36,0,0,0,2,0
1,KK Ahmed,2018-2019,14,1,1,1,1*,-,1,100.00,0,0,0,0,0
2,S Aravind,2015-2015,1,-,-,-,-,-,-,-,-,-,-,-,-
3,R Ashwin,2010-2021,51,11,7,123,31*,30.75,115,106.95,0,0,0,14,1
4,Avesh Khan,2022-2022,2,-,-,-,-,-,-,-,-,-,-,-,-
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
92,R Vinay Kumar,2010-2013,9,1,1,2,2*,-,4,50.00,0,0,0,0,0
93,Washington Sundar,2017-2021,31,11,4,47,14*,6.71,32,146.87,0,0,3,4,3
94,SA Yadav,2021-2022,14,12,3,351,65,39.00,212,165.56,0,4,1,32,20
95,UT Yadav,2012-2019,7,1,0,2,2,2.00,4,50.00,0,0,0,0,0
96,Yuvraj Singh,2007-2017,58,51,9,1177,77*,28.02,863,136.38,0,8,1,77,74

In [115]:
data[1]

                                                   0
0  By default, the shading indicates records from...
1  Adjust:  most recent  | past week  | past mont...

In [116]:
data[2]

                                                   0
0  Records includes the following current or rece...
1  India v Sri Lanka at Dharamsala, 3rd T20I, Feb...
2  India v Sri Lanka at Dharamsala, 2nd T20I, Feb...
3  India v Sri Lanka at Lucknow, 1st T20I, Feb 24...

In [117]:
data[0].to_csv('cricket.csv',index=False)

In [118]:
d = """{
    "name":"sudhanshu kumar",
    "email_id":"sskumar@gmail.com",
    "tech":["ML","DL","CV","NLP","RL","BD","DA"],
    "plateform":["techneuron","kidneuron","ineuron","github","youtube","linkedIn","internship"]
}"""

In [119]:
pd.DataFrame(d)

ValueError: DataFrame constructor not properly called!

In [120]:
import json

In [121]:
result = json.loads(d)
result

{'name': 'sudhanshu kumar',
 'email_id': 'sskumar@gmail.com',
 'tech': ['ML', 'DL', 'CV', 'NLP', 'RL', 'BD', 'DA'],
 'plateform': ['techneuron',
  'kidneuron',
  'ineuron',
  'github',
  'youtube',
  'linkedIn',
  'internship']}

In [122]:
type(result)

dict

In [123]:
pd.DataFrame(result)

              name           email_id tech   plateform
0  sudhanshu kumar  sskumar@gmail.com   ML  techneuron
1  sudhanshu kumar  sskumar@gmail.com   DL   kidneuron
2  sudhanshu kumar  sskumar@gmail.com   CV     ineuron
3  sudhanshu kumar  sskumar@gmail.com  NLP      github
4  sudhanshu kumar  sskumar@gmail.com   RL     youtube
5  sudhanshu kumar  sskumar@gmail.com   BD    linkedIn
6  sudhanshu kumar  sskumar@gmail.com   DA  internship

In [124]:
pd.read_json(d)

              name           email_id tech   plateform
0  sudhanshu kumar  sskumar@gmail.com   ML  techneuron
1  sudhanshu kumar  sskumar@gmail.com   DL   kidneuron
2  sudhanshu kumar  sskumar@gmail.com   CV     ineuron
3  sudhanshu kumar  sskumar@gmail.com  NLP      github
4  sudhanshu kumar  sskumar@gmail.com   RL     youtube
5  sudhanshu kumar  sskumar@gmail.com   BD    linkedIn
6  sudhanshu kumar  sskumar@gmail.com   DA  internship

In [125]:
d1 =""" {"packetType":"D","data":{"checkEngineLightFlag":"F","batteryVoltageStableTime":0,"batteryVoltageStable":"0","batteryVoltageOff":"12.42","batteryCrankParamTN":"-0.08","batteryCrankParamVN":"0.00","batteryCrankParamTP":"-0.08","batteryCrankParamVP":"0.00","batteryCrankParamTT":"-0.00008","batteryCrankParamV0":"0.00","batteryVoltageMaxOn":"13.05","batteryVoltageMinOn":"12.97","batteryVoltageMaxOff":"12.46","batteryVoltageMinOff":"12.36","batteryVoltageOnAverage":"13.02","engineLoadMax":"84","engineLoadAverage":"39.98","rpmMax":"3487","rpmAverage":"1431.29","gpsSpeedAverage":"21.99","vssMax":"53.44","vssAverage":"23.06","tcuTemperatureMin":"82.40","tcuTemperatureMax":"109.40","tcuTemperatureAverage":"104.87","coolantMin":"158.00","coolantMax":"188.60","coolantAverage":"180.20","packetStartLocal":1508143346000,"tripStartLocal":1508143346000,"milIndicator":"F","monitorsNotReady":0,"imei":"60DF5417","gatewayTs":1515613306592,"diagnosticTroubleCodeData":[],"diagnosticPidData":[[64768,47,100],[64768,1,517376],[64800,1,262144],[64768,5,125]]},"header":{"iwrapVer":"1.9.20","sourceSystem":"CDP","configVer":"1.1","oemName":"HUM","unitType":0,"cpVer":"7.50.1.9","igpsVer":"1.3.7","messageType":"Notification","pomVer":"1.0","headerVer":"V6","timestamp":0,"deviceType":"InDrive","visorVer":"1.4.35","transactionId":"53098471-7787-4160-94b3-cd69dcc70416","deviceSerialNo":"60DF5417","subOrganization":"HUM","organization":"HUM","imei":"60DF5417","operation":"Notification"}}"""

In [126]:
result1 = pd.read_json(d1)
result1

,packetType,data,header
checkEngineLightFlag,D,F,NaN
batteryVoltageStableTime,D,0,NaN
batteryVoltageStable,D,0,NaN
batteryVoltageOff,D,12.42,NaN
batteryCrankParamTN,D,-0.08,NaN
batteryCrankParamVN,D,0.00,NaN
batteryCrankParamTP,D,-0.08,NaN
batteryCrankParamVP,D,0.00,NaN
batteryCrankParamTT,D,-0.00008,NaN
batteryCrankParamV0,D,0.00,NaN
batteryVoltageMaxOn,D,13.05,NaN
batteryVoltageMinOn,D,12.97,NaN
batteryVoltageMaxOff,D,12.46,NaN
batteryVoltageMinOff,D,12.36,NaN
batteryVoltageOnAverage,D,13.02,NaN
engineLoadMax,D,84,NaN
engineLoadAverage,D,39.98,NaN
rpmMax,D,3487,NaN
rpmAverage,D,1431.29,NaN
gpsSpeedAverage,D,21.99,NaN
vssMax,D,53.44,NaN
vssAverage,D,23.06,NaN
tcuTemperatureMin,D,82.40,NaN
tcuTemperatureMax,D,109.40,NaN
tcuTemperatureAverage,D,104.87,NaN
coolantMin,D,158.00,NaN
coolantMax,D,188.60,NaN
coolantAverage,D,180.20,NaN
packetStartLocal,D,1508143346000,NaN
tripStartLocal,D,1508143346000,NaN
milIndicator,D,F,NaN
monitorsNotReady,D,0,NaN
imei,D,60DF5417,60DF5417
gatewayTs,D,1515613306592,NaN
diagnosticTroubleCodeData,D,[],NaN
diagnosticPidData,D,"[[64768, 47, 100], [64768, 1, 517376], [64800,...",NaN
iwrapVer,D,NaN,1.9.20
sourceSystem,D,NaN,CDP
configVer,D,NaN,1.1
oemName,D,NaN,HUM
unitType,D,NaN,0
cpVer,D,NaN,7.50.1.9
igpsVer,D,NaN,1.3.7
messageType,D,NaN,Notification
pomVer,D,NaN,1.0
headerVer,D,NaN,V6
timestamp,D,NaN,0
deviceType,D,NaN,InDrive
visorVer,D,NaN,1.4.35
transactionId,D,NaN,53098471-7787-4160-94b3-cd69dcc70416
deviceSerialNo,D,NaN,60DF5417
subOrganization,D,NaN,HUM
organization,D,NaN,HUM
operation,D,NaN,Notification

In [127]:
url = "https://api.github.com/repos/pandas-dev/pandas/issues"

In [128]:
pd.read_json(url)

,url,repository_url,labels_url,comments_url,events_url,html_url,id,node_id,number,title,...,updated_at,closed_at,author_association,active_lock_reason,body,reactions,timeline_url,performed_via_github_app,draft,pull_request
0,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://github.com/pandas-dev/pandas/issues/46353,1167498221,I_kwDOAA0YD85Flpvt,46353,DOC: Document that astype() for Series and Dat...,...,2022-03-13 06:52:08+00:00,NaT,NONE,NaN,### Pandas version checks\n\n- [X] I have chec...,{'url': 'https://api.github.com/repos/pandas-d...,https://api.github.com/repos/pandas-dev/pandas...,NaN,NaN,NaN
1,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://github.com/pandas-dev/pandas/issues/46352,1167470919,I_kwDOAA0YD85FljFH,46352,ENH: read_excel should assume engine when pass...,...,2022-03-13 03:51:41+00:00,NaT,NONE,NaN,#### Is your feature request related to a prob...,{'url': 'https://api.github.com/repos/pandas-d...,https://api.github.com/repos/pandas-dev/pandas...,NaN,NaN,NaN
2,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://github.com/pandas-dev/pandas/issues/46351,1167422549,I_kwDOAA0YD85FlXRV,46351,Question: why use Azure for CI?,...,2022-03-12 23:13:37+00:00,NaT,CONTRIBUTOR,NaN,What’s the reason that pandas uses GHA alongsi...,{'url': 'https://api.github.com/repos/pandas-d...,https://api.github.com/repos/pandas-dev/pandas...,NaN,NaN,NaN
3,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://github.com/pandas-dev/pandas/pull/46350,1167422110,PR_kwDOAA0YD840WVgz,46350,TST: xfail(strict=False) flaky hashtable test ...,...,2022-03-13 00:56:30+00:00,NaT,MEMBER,NaN,- [x] [Tests added and passed](https://pandas....,{'url': 'https://api.github.com/repos/pandas-d...,https://api.github.com/repos/pandas-dev/pandas...,NaN,0.0,{'url': 'https://api.github.com/repos/pandas-d...
4,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://github.com/pandas-dev/pandas/pull/46349,1167417912,PR_kwDOAA0YD840WUvE,46349,PERF: Index[StringArray],...,2022-03-12 22:40:13+00:00,NaT,MEMBER,NaN,- [x] closes #45652 (Replace xxxx with the Git...,{'url': 'https://api.github.com/repos/pandas-d...,https://api.github.com/repos/pandas-dev/pandas...,NaN,0.0,{'url': 'https://api.github.com/repos/pandas-d...
5,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://github.com/pandas-dev/pandas/pull/46348,1167412829,PR_kwDOAA0YD840WT3e,46348,Series.map Performance Improvement When Using ...,...,2022-03-12 23:36:30+00:00,NaT,NONE,NaN,- [x] closes #46248\r\n- [ ] [Tests added and ...,{'url': 'https://api.github.com/repos/pandas-d...,https://api.github.com/repos/pandas-dev/pandas...,NaN,0.0,{'url': 'https://api.github.com/repos/pandas-d...
6,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://github.com/pandas-dev/pandas/pull/46347,1167404425,PR_kwDOAA0YD840WSZR,46347,Fix snappy version,...,2022-03-13 00:23:34+00:00,NaT,CONTRIBUTOR,NaN,Fix for https://github.com/pandas-dev/pandas/p...,{'url': 'https://api.github.com/repos/pandas-d...,https://api.github.com/repos/pandas-dev/pandas...,NaN,0.0,{'url': 'https://api.github.com/repos/pandas-d...
7,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://github.com/pandas-dev/pandas/pull/46346,1167386303,PR_kwDOAA0YD840WO50,46346,WIP Use provision-with-micromamba,...,2022-03-12 21:42:38+00:00,NaT,CONTRIBUTOR,NaN,Based on #45701\r\n\r\n- [ ] closes #xxxx (Rep...,{'url': 'https://api.github.com/repos/pandas-d...,https://api.github.com/repos/pandas-dev/pandas...,NaN,1.0,{'url': 'https://api.github.com/repos/pandas-d...
8,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://github.com/pandas-dev/pandas/pull/46343,1167366731,PR_kwDOAA0YD840WLMs,46343,"TYP: Add typing for pd.to_timedelta, fix Timed...",...,2022-03-13 00:05:22+00:00,NaT,CONTRIBUTOR,NaN,Add typing for pd.to_timedelta\r\nChange opera...,{'url': 'https://api.github.com/repos/pandas-d...,https://api.github.com/repos/pandas-dev/pandas...,NaN,0.0,{'url': 'https://api.github.com/repos/pandas-d...
9,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://github.com/pandas-dev/pandas/pull/46342,1167331327,PR_kwDOAA0YD840WEz_,46342,Bug fix - groupby sum removed columns,...,2022-03-13 08:04:26+00:00,NaT,CONTRIBUTOR,NaN,- [x] closes #44132 \r\n- [ ] [Tests added and...,{'url': 'https://api.github.com/repos/pandas-d...,https://api.github.com/repos/pandas-dev/pandas...,NaN,0.0,{'url': 'https://api.github.com/repos/pandas-d...
10,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://github.com/pandas-dev/pandas/pull/46341,1167329989,PR_kwDOAA0YD840WEmO,46341,PERF: use bisect_right_i8 in vectorized,...,2022-03-13 01:27:44+00:00,NaT,MEMBER,NaN,- [ ] closes #xxxx (Replace xxxx with the Gith...,{'url': 'https://api.github.com/repos/pandas-d...,https://api.github.com/repos/pandas-dev/pandas...,NaN,0.0,{'url': 'https://api.github.com/repos/pandas-d...
11,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://github.com/pandas-dev/pandas/issues/46339,1167181077,I_kwDOAA0YD85FkcUV,46339,PyCon US 2022,...,2022-03-12 05:00:28+00:00,NaT,MEMBER,NaN,Do we have any plan for PyCon US 2022?\r\n\r\n...,{'url': 'https://api.github.com/repos/pandas-d...,https://api.github.com/repos/pandas-dev/pandas...,NaN,NaN,NaN
12,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://github.com/pandas-dev/pandas/pull/46338,1167165103,PR_kwDOAA0YD840VmSV,46338,REF: de-duplicate hard-coded unit code,...,2022-03-13 01:34:01+00:00,NaT,MEMBER,NaN,I had hoped to go further and get rid of one ...,{'url': 'https://api.github.com/repos/pandas-d...,https://api.github.com/repos/pandas-dev/pandas...,NaN,0.0,{'url': 'https://api.github.com/repos/pandas-d...
13,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://github.com/pandas-dev/pandas/issues/46337,1167162310,I_kwDOAA0YD85FkXvG,46337,TYP: returning None for __init__,...,2022-03-12 18:37:12+00:00,NaT,CONTRIBUTOR,NaN,xref https://github.com/pandas-dev/pandas/pull...,{'url': 'https://api.github.com/repos/pandas-d...,https://api.github.com/repos/pandas-dev/pandas...,NaN,NaN,NaN
14,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://github.com/pandas-dev/pandas/issues/46336,1167160890,I_kwDOAA0YD85FkXY6,46336,BUG: dataframe.rename function shows no warnin...,...,2022-03-12 14:48:33+00:00,NaT,NONE,NaN,### Pandas version checks\n\n- [X] I have chec...,{'url': 'https://api.github.com/repos/pandas-d...,https://api.github.com/repos/pandas-dev/pandas...,NaN,NaN,NaN
15,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://github.com/pandas-dev/pandas/issues/46332,1166971186,I_kwDOAA0YD85FjpEy,46332,BUG: Binary operations with empty string array...,...,2022-03-11 23:15:26+00:00,NaT,NONE,NaN,### Pandas version checks\r\n\r\n- [X] I have ...,{'url': 'https://api.github.com/repos/pandas-d...,https://api.github.com/repos/pandas-dev/pandas...,NaN,NaN,NaN
16,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://github.com/pandas-dev/pandas/issues/46331,1166957820,I_kwDOAA0YD85Fjlz8,46331,"BUG: the behavior of ""date_range"" function wit...",...,2022-03-13 07:51:43+00:00,NaT,NONE,NaN,### Pandas version checks\r\n\r\n- [X] I have ...,{'url': 'https://api.github.com/repos/pandas-d...,https://api.github.com/repos/pandas-dev/pandas...,NaN,NaN,NaN
17,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://github.com/pandas-dev/pandas/pull/46330,1166865454,PR_kwDOAA0YD840UmcA,46330,REF/PERF: MultiIndex.get_locs to use boolean a...,...,2022-03-12 21:07:45+00:00,NaT,MEMBER,NaN,- [x] [Tests added and passed](https://pandas....,{'url': 'https://api.github.com/repos/pandas-d...,https://api.github.com/repos/pandas-dev/pandas...,NaN,0.0,{'url': 'https://api.github.com/repos/pandas-d...
18,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://github.com/pandas-dev/pandas/issues/46326,1166612234,I_kwDOAA0YD85FiRcK,46326,BUG: `isin` propagates nulls for DataFrame but...,...,2022-03-11 16:53:06+00:00,NaT,NONE,NaN,### Pandas version checks\n\n- [X] I have chec...,{'url': 'https://api.github.com/repos/pandas-d...,https://api.github.com/repos/pandas-dev/pandas...,NaN,NaN,NaN
19,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://github.com/pandas-dev/pandas/issues/46324,1166353036,I_kwDOAA0YD85FhSKM,46324,BUG: core.groupby.GroupBy.apply unexpected beh...,...,2022-03-11 12:19:20+00:00,NaT,NONE,NaN,### Pandas version checks\n\n- [X] I have chec...,{'url': 'https://api.github.com/repos/pandas-d...,https://api.github.com/repos/pandas-dev/pandas...,NaN,NaN,NaN
20,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://github.com/pandas-dev/pandas/pull/46321,1166312846,PR_kwDOAA0YD840SzrD,46321,WIP Add ccache to Azure builds,...,2022-03-12 19:10:13+00:00,NaT,CONTRIBUTOR,NaN,Save around 5-10 minutes on Azure\r\n\r\nWhy d...,{'url': 'https://api.github.com/repos/pandas-d...,https://api.github.com/repos/pandas-dev/pandas...,NaN,1.0,{'url': 'https://api.github.com/repos/pandas-d...
21,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://github.com/pandas-dev/pandas/issues/46319,1166255061,I_kwDOAA0YD85Fg6PV,46319,BUG: `UnicodeError` when using `Period.strftim...,...,2022-03-11 10:51:46+00:00,NaT,CONTRIBUTOR,NaN,### Pandas version checks\n\n- [X] I have chec...,{'url': 'https://api.github.com/repos/pandas-d...,https://api.github.com/repos/pandas-dev/pandas...,NaN,NaN,NaN
22,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://github.com/pandas-dev/pandas/issues/46313,1165672382,I_kwDOAA0YD85Fer--,46313,BUG: Categorical of booleans has object .categ...,...,2022-03-11 12:32:13+00:00,NaT,CONTRIBUTOR,NaN,### Pandas version checks\n\n- [X] I have chec...,{'url': 'https://api.github.com/repos/pandas-d...,https://api.github.com/repos/pandas-dev/pandas...,NaN,NaN,NaN
23,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://github.com/pandas-dev/pandas/pull/46312,1165636565,PR_kwDOAA0YD840QmJ_,46312,BUG: avoid OOB flow in read_gbq and to_gbq,...,2022-03-11 01:30:39+00:00,NaT,CONTRIBUTOR,NaN,The console-based copy-paste-a-token flow has ...,{'url': 'https://api.github.com/repos/pandas-d...,https://api.github.com/repos/pandas-dev/pandas...,NaN,0.0,{'url': 'https://api.github.com/repos/pandas-d...
24,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://github.com/pandas-dev/pandas/issues/46310,1165554305,I_kwDOAA0YD85FePKB,46310,ENH: Add `subset` param to `add_(pre|suf)fix`,...,2022-03-11 00:46:10+00:00,NaT,CONTRIBUTOR,NaN,#### Is your feature request related to a prob...,{'url': 'https://api.github.com/repos/pandas-d...,https://api.github.com/repos/pandas-dev/pandas...,NaN,NaN,NaN
25,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://github.com/pandas-dev/pandas/pull/46308,1165401382,PR_kwDOAA0YD840P1BQ,46308,DOC: Add TextFileReader to docs,...,2022-03-11 23:48:13+00:00,NaT,MEMBER,NaN,- [x] closes #46187 (Replace xxxx with the Git...,{'url': 'https://api.github.com/repos/pandas-d...,https://api.github.com/repos/pandas-dev/pandas...,NaN,0.0,{'url': 'https://api.github.com/repos/pandas-d...
26,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://github.com/pandas-dev/pandas/issues/46305,1165243629,I_kwDOAA0YD85FdDTt,46305,ENH: merging using DataFrame index should rais...,...,2022-03-10 13:42:15+00:00,NaT,NONE,NaN,DataFrame `merge` has inconsistent behaviour d...,{'url': 'https://api.github.com/repos/pandas-d...,https://api.github.com/repos/pandas-dev/pandas...,NaN,NaN,NaN
27,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://github.com/pandas-dev/pandas/pull/46304,1165164366,PR_kwDOAA0YD840PCL-,46304,BUG: merge raising for Int64 and int64 dtype w...,...,2022-03-10 19:40:21+00:00,NaT,MEMBER,NaN,- [x] closes #46178 (Replace xxxx with the Git...,{'url': 'https://api.github.com/repos/pandas-d...,https://api.github.com/repos/pandas-dev/pandas...,NaN,0.0,{'url': 'https://api.github.com/repos/pandas-d...
28,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://github.com/pandas-dev/pandas/pull/46300,1164717212,PR_kwDOAA0YD840Nj7j,46300,TYP: sort_index,...,2022-03-13 12:28:32+00:00,NaT,CONTRIBUTOR,NaN,Tested the overloads with mypy and pyright:\r\...,{'url': 'https://api.github.com/repos/pandas-d...,https://api.github.com/repos/pandas-dev/pandas...,NaN,0.0,{'url': 'https://api.github.com/repos/pandas-d...
29,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://github.com/pandas-dev/pandas/issues/46298,1164620575,I_kwDOAA0YD85FarMf,46298,"BUG: ""data type 'Int64' not understood""",...,2022-03-10 09:32:52+00:00,NaT,NONE,NaN,### Pandas version checks\n\n- [X] I have chec...,{'url': 'https://api.github.com/repos/pandas-d...,https://api.github.com/repos/pandas-dev/pandas...,NaN,NaN,NaN

In [129]:
import requests

In [130]:
data = requests.get(url)
data

In [131]:
data1 = data.json()
data1

[{'url': 'https://api.github.com/repos/pandas-dev/pandas/issues/46353',
  'repository_url': 'https://api.github.com/repos/pandas-dev/pandas',
  'labels_url': 'https://api.github.com/repos/pandas-dev/pandas/issues/46353/labels{/name}',
  'comments_url': 'https://api.github.com/repos/pandas-dev/pandas/issues/46353/comments',
  'events_url': 'https://api.github.com/repos/pandas-dev/pandas/issues/46353/events',
  'html_url': 'https://github.com/pandas-dev/pandas/issues/46353',
  'id': 1167498221,
  'node_id': 'I_kwDOAA0YD85Flpvt',
  'number': 46353,
  'title': 'DOC: Document that astype() for Series and Dataframe can accept a series of dtypes',
  'user': {'login': 'mvashishtha',
   'id': 10712109,
   'node_id': 'MDQ6VXNlcjEwNzEyMTA5',
   'avatar_url': 'https://avatars.githubusercontent.com/u/10712109?v=4',
   'gravatar_id': '',
   'url': 'https://api.github.com/users/mvashishtha',
   'html_url': 'https://github.com/mvashishtha',
   'followers_url': 'https://api.github.com/users/mvashishtha/followers',
   'following_url': 'https://api.github.com/users/mvashishtha/following{/other_user}',
   'gists_url': 'https://api.github.com/users/mvashishtha/gists{/gist_id}',
   'starred_url': 'https://api.github.com/users/mvashishtha/starred{/owner}{/repo}',
   'subscriptions_url': 'https://api.github.com/users/mvashishtha/subscriptions',
   'organizations_url': 'https://api.github.com/users/mvashishtha/orgs',
   'repos_url': 'https://api.github.com/users/mvashishtha/repos',
   'events_url': 'https://api.github.com/users/mvashishtha/events{/privacy}',
   'received_events_url': 'https://api.github.com/users/mvashishtha/received_events',
   'type': 'User',
   'site_admin': False},
  'labels': [{'id': 134699,
    'node_id': 'MDU6TGFiZWwxMzQ2OTk=',
    'url': 'https://api.github.com/repos/pandas-dev/pandas/labels/Docs',
    'name': 'Docs',
    'color': '3465A4',
    'default': False,
    'description': None},
   {'id': 1954720290,
    'node_id': 'MDU6TGFiZWwxOTU0NzIwMjkw',
    'url': 'https://api.github.com/repos/pandas-dev/pandas/labels/Needs%20Triage',
    'name': 'Needs Triage',
    'color': '0052cc',
    'default': False,
    'description': 'Issue that has not been reviewed by a pandas team member'}],
  'state': 'open',
  'locked': False,
  'assignee': None,
  'assignees': [],
  'milestone': None,
  'comments': 0,
  'created_at': '2022-03-13T06:52:08Z',
  'updated_at': '2022-03-13T06:52:08Z',
  'closed_at': None,
  'author_association': 'NONE',
  'active_lock_reason': None,
  'body': '### Pandas version checks\n\n- [X] I have checked that the issue still exists on the latest versions of the docs on `main` [here](https://pandas.pydata.org/docs/dev/)\n\n\n### Location of the documentation\n\nhttps://pandas.pydata.org/docs/reference/api/pandas.DataFrame.astype.html\r\n\r\nhttps://pandas.pydata.org/docs/reference/api/pandas.Series.astype.html\n\n### Documentation problem\n\nThe documentation for `DataFrame` states that `dtype` can be a `dict` mapping from column label to new type, or a scalar type. However, `dtype` can also be a `pd.Series` whose index contains a subset of the dataframe\'s labels (though perhaps in a different order) and whose values are dtypes. For example:\r\n\r\n```python\r\nimport pandas as pd\r\n\r\ndf = pd.DataFrame([[1, 2]])\r\nprint(f"original dtypes:\\n{df.dtypes}")\r\nnew_df = df.astype(pd.Series(["string", "object"], index=df.columns[::-1]))\r\nprint(f"new dtypes:\\n{new_df.dtypes}")\r\n```\r\n\r\nIn case the frame has duplicate column labels, the index of the new series of dtypes may still be a subset of the column labels. However, it appears that the only way that the new series can have a non-unique index is if that index is exactly equal to the dataframe\'s `columns`. For example, this works:\r\n\r\n```python\r\nimport pandas as pd\r\n\r\ndf = pd.DataFrame([[1, 2, 3]], columns=[0, 0, 1])\r\nprint(f"original dtypes:\\n{df.dtypes}")\r\nnew_df = df.astype(pd.Series(["string", "object", "float"], index=df.columns))\r\nprint(f"new dtypes:\\n{new_df.dtypes}")\r\n```\r\n\r\nbut giving the series an index with all the columns in a different order\r\n\r\n```python\r\nimport pandas as pd\r\n\r\ndf = pd.DataFrame([[1, 2, 3]], columns=[0, 0, 1])\r\nprint(f"original dtypes:\\n{df.dtypes}")\r\nnew_df = df.astype(pd.Series(["string", "object", "float"], index=df.columns[::-1]))\r\nprint(f"new dtypes:\\n{new_df.dtypes}")\r\n```\r\n\r\nraises `ValueError: cannot reindex on an axis with duplicate labels`:\r\n\r\n<details>\r\n<summary>Show stack trace</summary>\r\n\r\n```\r\nValueError                                Traceback (most recent call last)\r\nInput In [14], in <module>\r\n      3 df = pd.DataFrame([[1, 2, 3]], columns=[0, 0, 1])\r\n      4 print(f"original dtypes:\\n{df.dtypes}")\r\n----> 5 new_df = df.astype(pd.Series(["string", "object", "float"], index=df.columns[::-1]))\r\n      6 print(f"new dtypes:\\n{new_df.dtypes}")\r\n\r\nFile /usr/local/lib/python3.9/site-packages/pandas/core/generic.py:5898, in NDFrame.astype(self, dtype, copy, errors)\r\n   5895 from pandas import Series\r\n   5897 dtype_ser = Series(dtype, dtype=object)\r\n-> 5898 dtype_ser = dtype_ser.reindex(self.columns, fill_value=None, copy=False)\r\n   5900 results = []\r\n   5901 for i, (col_name, col) in enumerate(self.items()):\r\n\r\nFile /usr/local/lib/python3.9/site-packages/pandas/core/series.py:4672, in Series.reindex(self, *args, **kwargs)\r\n   4668         raise TypeError(\r\n   4669             "\'index\' passed as both positional and keyword argument"\r\n   4670         )\r\n   4671     kwargs.update({"index": index})\r\n-> 4672 return super().reindex(**kwargs)\r\n\r\nFile /usr/local/lib/python3.9/site-packages/pandas/core/generic.py:4974, in NDFrame.reindex(self, *args, **kwargs)\r\n   4971     return self._reindex_multi(axes, copy, fill_value)\r\n   4973 # perform the reindex on the axes\r\n-> 4974 return self._reindex_axes(\r\n   4975     axes, level, limit, tolerance, method, fill_value, copy\r\n   4976 ).__finalize__(self, method="reindex")\r\n\r\nFile /usr/local/lib/python3.9/site-packages/pandas/core/generic.py:4994, in NDFrame._reindex_axes(self, axes, level, limit, tolerance, method, fill_value, copy)\r\n   4989 new_index, indexer = ax.reindex(\r\n   4990     labels, level=level, limit=limit, tolerance=tolerance, method=method\r\n   4991 )\r\n   4993 axis = self._get_axis_number(a)\r\n-> 4994 obj = obj._reindex_with_indexers(\r\n   4995     {axis: [new_index, indexer]},\r\n   4996     fill_value=fill_value,\r\n   4997     copy=copy,\r\n   4998     allow_dups=False,\r\n   4999 )\r\n   5000 # If we\'ve made a copy once, no need to make another one\r\n   5001 copy = False\r\n\r\nFile /usr/local/lib/python3.9/site-packages/pandas/core/generic.py:5040, in NDFrame._reindex_with_indexers(self, reindexers, fill_value, copy, allow_dups)\r\n   5037     indexer = ensure_platform_int(indexer)\r\n   5039 # TODO: speed up on homogeneous DataFrame objects (see _reindex_multi)\r\n-> 5040 new_data = new_data.reindex_indexer(\r\n   5041     index,\r\n   5042     indexer,\r\n   5043     axis=baxis,\r\n   5044     fill_value=fill_value,\r\n   5045     allow_dups=allow_dups,\r\n   5046     copy=copy,\r\n   5047 )\r\n   5048 # If we\'ve made a copy once, no need to make another one\r\n   5049 copy = False\r\n\r\nFile /usr/local/lib/python3.9/site-packages/pandas/core/internals/managers.py:679, in BaseBlockManager.reindex_indexer(self, new_axis, indexer, axis, fill_value, allow_dups, copy, consolidate, only_slice, use_na_proxy)\r\n    677 # some axes don\'t allow reindexing with dups\r\n    678 if not allow_dups:\r\n--> 679     self.axes[axis]._validate_can_reindex(indexer)\r\n    681 if axis >= self.ndim:\r\n    682     raise IndexError("Requested axis not found in manager")\r\n\r\nFile /usr/local/lib/python3.9/site-packages/pandas/core/indexes/base.py:4107, in Index._validate_can_reindex(self, indexer)\r\n   4105 # trying to reindex on an axis with duplicates\r\n   4106 if not self._index_as_unique and len(indexer):\r\n-> 4107     raise ValueError("cannot reindex on an axis with duplicate labels")\r\n\r\nValueError: cannot reindex on an axis with duplicate labels\r\n```\r\n</details>\r\n\r\nand so does passing a series of dtypes for just the first two columns:\r\n\r\n```python\r\nimport pandas as pd\r\n\r\ndf = pd.DataFrame([[1, 2, 3]], columns=[0, 0, 1])\r\nprint(f"original dtypes:\\n{df.dtypes}")\r\nnew_df = df.astype(pd.Series(["string", "object"], index=df.columns[:2]))\r\nprint(f"new dtypes:\\n{new_df.dtypes}")\r\n```\r\n\r\nalthough passing a type for just duplicate column label `0` converts the first two columns to the same new type:\r\n\r\n\r\n```python\r\nimport pandas as pd\r\n\r\ndf = pd.DataFrame([[1, 2, 3]], columns=[0, 0, 1])\r\nprint(f"original dtypes:\\n{df.dtypes}")\r\nnew_df = df.astype(pd.Series(["string"], index=[0]))\r\nprint(f"new dtypes:\\n{new_df.dtypes}")\r\n```\r\n\r\nFinally, it\'s possible to pass a series of a single dtype to `Series.astype`. In that case, the one value in the series index must be the series name, e.g.:\r\n\r\n```python\r\nimport pandas as pd\r\ns = pd.Series(1)\r\ns.astype(pd.Series(["int64"], index=[s.name]))\r\n```\r\n\r\n\n\n### Suggested fix for documentation\n\nI don\'t know whether all of this is an intended feature, or just a bug caused by converting dict-like dtypes to `Series` [here](https://github.com/pandas-dev/pandas/blob/48d515958d5805f0e62e34b7424097e5575089a8/pandas/core/generic.py#L5901). If it\'s a feature, it should be documented in the documentation for `astype` for both `DataFrame` and `Series`.',
  'reactions': {'url': 'https://api.github.com/repos/pandas-dev/pandas/issues/46353/reactions',
   'total_count': 0,
   '+1': 0,
   '-1': 0,
   'laugh': 0,
   'hooray': 0,
   'confused': 0,
   'heart': 0,
   'rocket': 0,
   'eyes': 0},
  'timeline_url': 'https://api.github.com/repos/pandas-dev/pandas/issues/46353/timeline',
  'performed_via_github_app': None},
 {'url': 'https://api.github.com/repos/pandas-dev/pandas/issues/46352',
  'repository_url': 'https://api.github.com/repos/pandas-dev/pandas',
  'labels_url': 'https://api.github.com/repos/pandas-dev/pandas/issues/46352/labels{/name}',
  'comments_url': 'https://api.github.com/repos/pandas-dev/pandas/issues/46352/comments',
  'events_url': 'https://api.github.com/repos/pandas-dev/pandas/issues/46352/events',
  'html_url': 'https://github.com/pandas-dev/pandas/issues/46352',
  'id': 1167470919,
  'node_id': 'I_kwDOAA0YD85FljFH',
  'number': 46352,
  'title': 'ENH: read_excel should assume engine when passing openpyxl.Workbook object',
  'user': {'login': 'scotscotmcc',
   'id': 83373712,
   'node_id': 'MDQ6VXNlcjgzMzczNzEy',
   'avatar_url': 'https://avatars.githubusercontent.com/u/83373712?v=4',
   'gravatar_id': '',
   'url': 'https://api.github.com/users/scotscotmcc',
   'html_url': 'https://github.com/scotscotmcc',
   'followers_url': 'https://api.github.com/users/scotscotmcc/followers',
   'following_url': 'https://api.github.com/users/scotscotmcc/following{/other_user}',
   'gists_url': 'https://api.github.com/users/scotscotmcc/gists{/gist_id}',
   'starred_url': 'https://api.github.com/users/scotscotmcc/starred{/owner}{/repo}',
   'subscriptions_url': 'https://api.github.com/users/scotscotmcc/subscriptions',
   'organizations_url': 'https://api.github.com/users/scotscotmcc/orgs',
   'repos_url': 'https://api.github.com/users/scotscotmcc/repos',
   'events_url': 'https://api.github.com/users/scotscotmcc/events{/privacy}',
   'received_events_url': 'https://api.github.com/users/scotscotmcc/received_events',
   'type': 'User',
   'site_admin': False},
  'labels': [{'id': 76812,
    'node_id': 'MDU6TGFiZWw3NjgxMg==',
    'url': 'https://api.github.com/repos/pandas-dev/pandas/labels/Enhancement',
    'name': 'Enhancement',
    'color': '4E9A06',
    'default': False,
    'description': None},
   {'id': 1954720290,
    'node_id': 'MDU6TGFiZWwxOTU0NzIwMjkw',
    'url': 'https://api.github.com/repos/pandas-dev/pandas/labels/Needs%20Triage',
    'name': 'Needs Triage',
    'color': '0052cc',
    'default': False,
    'description': 'Issue that has not been reviewed by a pandas team member'}],
  'state': 'open',
  'locked': False,
  'assignee': None,
  'assignees': [],
  'milestone': None,
  'comments': 0,
  'created_at': '2022-03-13T03:51:41Z',
  'updated_at': '2022-03-13T03:51:41Z',
  'closed_at': None,
  'author_association': 'NONE',
  'active_lock_reason': None,
  'body': '#### Is your feature request related to a problem?\r\n\r\nWhen your `io` parameter for `pd.read_excel()` is an openpyxl.Workbook object, the function should assume that `engine=\'openpyxl\'`. Right now, if you don\'t specify the engine, you will get a `ValueError: Invalid file path or buffer object type: <class \'openpyxl.workbook.workbook.Workbook\'>`. However, if you explicitly pass the engine, it will load fine.\r\n\r\nIt seems like passing in the specific workbook object would only ever be done if you want it to read it with that engine, so we should just assume that engine.\r\n\r\nThe current documentation for `read_excel()` specifies that you can use an `xlrd.Book`, and that works fine without an explicit `engine`. It doesn\'t say that you can use an `openpyxl.Workbook` at all, but it does work when you declare the `engine`.\r\n\r\nThis has come up as a small inconvenience for me a few times. I have a script where I am pulling some data out of Excel that is not a table at all, and so I\'m using opening it as an `openpyxl.Workbook` and using some of the tools from that library, and then also want to pull another table using pandas. I want to do this without opening the workbook multiple times, so I use the same workbook to pass into `pd.read_excel()`. It then throws and error and I say "Oh yea, I need the engine."\r\n\r\n#### Describe the solution you\'d like\r\n\r\nOne should be able to do\r\n\r\n```python\r\nimport pandas as pd\r\nimport openpyxl\r\n\r\nwb = openpyxl.load_Workbook(filepath,...)\r\ndf = pd.read_excel(wb,...) # and not include engine\r\nwb.close()\r\n```\r\n\r\nThis should work the same as just `df = pd.read_excel(filepath,...)`\r\n\r\n#### Describe alternatives you\'ve considered\r\n\r\nAlternatives seem to be (1) explicitly pass `engine` or (2) don\'t use `openpyxl.Workbook` objects.\r\n\r\n#### Potential Solution\r\n\r\n```python\r\n# starting line 1466 or so of pandas.io.excel_base.py\r\nif isinstance(path_or_buffer, openpyxl.Workbook):\r\n    if engine == "openpyxl":\r\n        pass\r\n    elif engine is None:\r\n        engine = "openpyxl"\r\n    else:\r\n        raise ValueError(f"Excel object is openpyxl.Workbook, but engine is {engine}")\r\n```\r\n',
  'reactions': {'url': 'https://api.github.com/repos/pandas-dev/pandas/issues/46352/reactions',
   'total_count': 0,
   '+1': 0,
   '-1': 0,
   'laugh': 0,
   'hooray': 0,
   'confused': 0,
   'heart': 0,
   'rocket': 0,
   'eyes': 0},
  'timeline_url': 'https://api.github.com/repos/pandas-dev/pandas/issues/46352/timeline',
  'performed_via_github_app': None},
 {'url': 'https://api.github.com/repos/pandas-dev/pandas/issues/46351',
  'repository_url': 'https://api.github.com/repos/pandas-dev/pandas',
  'labels_url': 'https://api.github.com/repos/pandas-dev/pandas/issues/46351/labels{/name}',
  'comments_url': 'https://api.github.com/repos/pandas-dev/pandas/issues/46351/comments',
  'events_url': 'https://api.github.com/repos/pandas-dev/pandas/issues/46351/events',
  'html_url': 'https://github.com/pandas-dev/pandas/issues/46351',
  'id': 1167422549,
  'node_id': 'I_kwDOAA0YD85FlXRV',
  'number': 46351,
  'title': 'Question: why use Azure for CI?',
  'user': {'login': 'jonashaag',
   'id': 175722,
   'node_id': 'MDQ6VXNlcjE3NTcyMg==',
   'avatar_url': 'https://avatars.githubusercontent.com/u/175722?v=4',
   'gravatar_id': '',
   'url': 'https://api.github.com/users/jonashaag',
   'html_url': 'https://github.com/jonashaag',
   'followers_url': 'https://api.github.com/users/jonashaag/followers',
   'following_url': 'https://api.github.com/users/jonashaag/following{/other_user}',
   'gists_url': 'https://api.github.com/users/jonashaag/gists{/gist_id}',
   'starred_url': 'https://api.github.com/users/jonashaag/starred{/owner}{/repo}',
   'subscriptions_url': 'https://api.github.com/users/jonashaag/subscriptions',
   'organizations_url': 'https://api.github.com/users/jonashaag/orgs',
   'repos_url': 'https://api.github.com/users/jonashaag/repos',
   'events_url': 'https://api.github.com/users/jonashaag/events{/privacy}',
   'received_events_url': 'https://api.github.com/users/jonashaag/received_events',
   'type': 'User',
   'site_admin': False},
  'labels': [{'id': 48070600,
    'node_id': 'MDU6TGFiZWw0ODA3MDYwMA==',
    'url': 'https://api.github.com/repos/pandas-dev/pandas/labels/CI',
    'name': 'CI',
    'color': 'a2bca7',
    'default': False,
    'description': 'Continuous Integration'}],
  'state': 'open',
  'locked': False,
  'assignee': None,
  'assignees': [],
  'milestone': None,
  'comments': 4,
  'created_at': '2022-03-12T22:58:55Z',
  'updated_at': '2022-03-12T23:13:37Z',
  'closed_at': None,
  'author_association': 'CONTRIBUTOR',
  'active_lock_reason': None,
  'body': 'What’s the reason that pandas uses GHA alongside Azure? What does Azure provide that GHA doesn’t?',
  'reactions': {'url': 'https://api.github.com/repos/pandas-dev/pandas/issues/46351/reactions',
   'total_count': 0,
   '+1': 0,
   '-1': 0,
   'laugh': 0,
   'hooray': 0,
   'confused': 0,
   'heart': 0,
   'rocket': 0,
   'eyes': 0},
  'timeline_url': 'https://api.github.com/repos/pandas-dev/pandas/issues/46351/timeline',
  'performed_via_github_app': None},
 {'url': 'https://api.github.com/repos/pandas-dev/pandas/issues/46350',
  'repository_url': 'https://api.github.com/repos/pandas-dev/pandas',
  'labels_url': 'https://api.github.com/repos/pandas-dev/pandas/issues/46350/labels{/name}',
  'comments_url': 'https://api.github.com/repos/pandas-dev/pandas/issues/46350/comments',
  'events_url': 'https://api.github.com/repos/pandas-dev/pandas/issues/46350/events',
  'html_url': 'https://github.com/pandas-dev/pandas/pull/46350',
  'id': 1167422110,
  'node_id': 'PR_kwDOAA0YD840WVgz',
  'number': 46350,
  'title': 'TST: xfail(strict=False) flaky hashtable test on ARM',
  'user': {'login': 'mroeschke',
   'id': 10647082,
   'node_id': 'MDQ6VXNlcjEwNjQ3MDgy',
   'avatar_url': 'https://avatars.githubusercontent.com/u/10647082?v=4',
   'gravatar_id': '',
   'url': 'https://api.github.com/users/mroeschke',
   'html_url': 'https://github.com/mroeschke',
   'followers_url': 'https://api.github.com/users/mroeschke/followers',
   'following_url': 'https://api.github.com/users/mroeschke/following{/other_user}',
   'gists_url': 'https://api.github.com/users/mroeschke/gists{/gist_id}',
   'starred_url': 'https://api.github.com/users/mroeschke/starred{/owner}{/repo}',
   'subscriptions_url': 'https://api.github.com/users/mroeschke/subscriptions',
   'organizations_url': 'https://api.github.com/users/mroeschke/orgs',
   'repos_url': 'https://api.github.com/users/mroeschke/repos',
   'events_url': 'https://api.github.com/users/mroeschke/events{/privacy}',
   'received_events_url': 'https://api.github.com/users/mroeschke/received_events',
   'type': 'User',
   'site_admin': False},
  'labels': [{'id': 127685,
    'node_id': 'MDU6TGFiZWwxMjc2ODU=',
    'url': 'https://api.github.com/repos/pandas-dev/pandas/labels/Testing',
    'name': 'Testing',
    'color': 'C4A000',
    'default': False,
    'description': 'pandas testing functions or related to the test suite'},
   {'id': 48070600,
    'node_id': 'MDU6TGFiZWw0ODA3MDYwMA==',
    'url': 'https://api.github.com/repos/pandas-dev/pandas/labels/CI',
    'name': 'CI',
    'color': 'a2bca7',
    'default': False,
    'description': 'Continuous Integration'},
   {'id': 2628846204,
    'node_id': 'MDU6TGFiZWwyNjI4ODQ2MjA0',

In [132]:
pd.DataFrame(data1)

,url,repository_url,labels_url,comments_url,events_url,html_url,id,node_id,number,title,...,updated_at,closed_at,author_association,active_lock_reason,body,reactions,timeline_url,performed_via_github_app,draft,pull_request
0,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://github.com/pandas-dev/pandas/issues/46353,1167498221,I_kwDOAA0YD85Flpvt,46353,DOC: Document that astype() for Series and Dat...,...,2022-03-13T06:52:08Z,None,NONE,None,### Pandas version checks\n\n- [X] I have chec...,{'url': 'https://api.github.com/repos/pandas-d...,https://api.github.com/repos/pandas-dev/pandas...,None,NaN,NaN
1,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://github.com/pandas-dev/pandas/issues/46352,1167470919,I_kwDOAA0YD85FljFH,46352,ENH: read_excel should assume engine when pass...,...,2022-03-13T03:51:41Z,None,NONE,None,#### Is your feature request related to a prob...,{'url': 'https://api.github.com/repos/pandas-d...,https://api.github.com/repos/pandas-dev/pandas...,None,NaN,NaN
2,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://github.com/pandas-dev/pandas/issues/46351,1167422549,I_kwDOAA0YD85FlXRV,46351,Question: why use Azure for CI?,...,2022-03-12T23:13:37Z,None,CONTRIBUTOR,None,What’s the reason that pandas uses GHA alongsi...,{'url': 'https://api.github.com/repos/pandas-d...,https://api.github.com/repos/pandas-dev/pandas...,None,NaN,NaN
3,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://github.com/pandas-dev/pandas/pull/46350,1167422110,PR_kwDOAA0YD840WVgz,46350,TST: xfail(strict=False) flaky hashtable test ...,...,2022-03-13T00:56:30Z,None,MEMBER,None,- [x] [Tests added and passed](https://pandas....,{'url': 'https://api.github.com/repos/pandas-d...,https://api.github.com/repos/pandas-dev/pandas...,None,False,{'url': 'https://api.github.com/repos/pandas-d...
4,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://github.com/pandas-dev/pandas/pull/46349,1167417912,PR_kwDOAA0YD840WUvE,46349,PERF: Index[StringArray],...,2022-03-12T22:40:13Z,None,MEMBER,None,- [x] closes #45652 (Replace xxxx with the Git...,{'url': 'https://api.github.com/repos/pandas-d...,https://api.github.com/repos/pandas-dev/pandas...,None,False,{'url': 'https://api.github.com/repos/pandas-d...
5,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://github.com/pandas-dev/pandas/pull/46348,1167412829,PR_kwDOAA0YD840WT3e,46348,Series.map Performance Improvement When Using ...,...,2022-03-12T23:36:30Z,None,NONE,None,- [x] closes #46248\r\n- [ ] [Tests added and ...,{'url': 'https://api.github.com/repos/pandas-d...,https://api.github.com/repos/pandas-dev/pandas...,None,False,{'url': 'https://api.github.com/repos/pandas-d...
6,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://github.com/pandas-dev/pandas/pull/46347,1167404425,PR_kwDOAA0YD840WSZR,46347,Fix snappy version,...,2022-03-13T00:23:34Z,None,CONTRIBUTOR,None,Fix for https://github.com/pandas-dev/pandas/p...,{'url': 'https://api.github.com/repos/pandas-d...,https://api.github.com/repos/pandas-dev/pandas...,None,False,{'url': 'https://api.github.com/repos/pandas-d...
7,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://github.com/pandas-dev/pandas/pull/46346,1167386303,PR_kwDOAA0YD840WO50,46346,WIP Use provision-with-micromamba,...,2022-03-12T21:42:38Z,None,CONTRIBUTOR,None,Based on #45701\r\n\r\n- [ ] closes #xxxx (Rep...,{'url': 'https://api.github.com/repos/pandas-d...,https://api.github.com/repos/pandas-dev/pandas...,None,True,{'url': 'https://api.github.com/repos/pandas-d...
8,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://github.com/pandas-dev/pandas/pull/46343,1167366731,PR_kwDOAA0YD840WLMs,46343,"TYP: Add typing for pd.to_timedelta, fix Timed...",...,2022-03-13T00:05:22Z,None,CONTRIBUTOR,None,Add typing for pd.to_timedelta\r\nChange opera...,{'url': 'https://api.github.com/repos/pandas-d...,https://api.github.com/repos/pandas-dev/pandas...,None,False,{'url': 'https://api.github.com/repos/pandas-d...
9,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://github.com/pandas-dev/pandas/pull/46342,1167331327,PR_kwDOAA0YD840WEz_,46342,Bug fix - groupby sum removed columns,...,2022-03-13T08:04:26Z,None,CONTRIBUTOR,None,- [x] closes #44132 \r\n- [ ] [Tests added and...,{'url': 'https://api.github.com/repos/pandas-d...,https://api.github.com/repos/pandas-dev/pandas...,None,False,{'url': 'https://api.github.com/repos/pandas-d...
10,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://github.com/pandas-dev/pandas/pull/46341,1167329989,PR_kwDOAA0YD840WEmO,46341,PERF: use bisect_right_i8 in vectorized,...,2022-03-13T01:27:44Z,None,MEMBER,None,- [ ] closes #xxxx (Replace xxxx with the Gith...,{'url': 'https://api.github.com/repos/pandas-d...,https://api.github.com/repos/pandas-dev/pandas...,None,False,{'url': 'https://api.github.com/repos/pandas-d...
11,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://github.com/pandas-dev/pandas/issues/46339,1167181077,I_kwDOAA0YD85FkcUV,46339,PyCon US 2022,...,2022-03-12T05:00:28Z,None,MEMBER,None,Do we have any plan for PyCon US 2022?\r\n\r\n...,{'url': 'https://api.github.com/repos/pandas-d...,https://api.github.com/repos/pandas-dev/pandas...,None,NaN,NaN
12,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://github.com/pandas-dev/pandas/pull/46338,1167165103,PR_kwDOAA0YD840VmSV,46338,REF: de-duplicate hard-coded unit code,...,2022-03-13T01:34:01Z,None,MEMBER,None,I had hoped to go further and get rid of one ...,{'url': 'https://api.github.com/repos/pandas-d...,https://api.github.com/repos/pandas-dev/pandas...,None,False,{'url': 'https://api.github.com/repos/pandas-d...
13,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://github.com/pandas-dev/pandas/issues/46337,1167162310,I_kwDOAA0YD85FkXvG,46337,TYP: returning None for __init__,...,2022-03-12T18:37:12Z,None,CONTRIBUTOR,None,xref https://github.com/pandas-dev/pandas/pull...,{'url': 'https://api.github.com/repos/pandas-d...,https://api.github.com/repos/pandas-dev/pandas...,None,NaN,NaN
14,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://github.com/pandas-dev/pandas/issues/46336,1167160890,I_kwDOAA0YD85FkXY6,46336,BUG: dataframe.rename function shows no warnin...,...,2022-03-12T14:48:33Z,None,NONE,None,### Pandas version checks\n\n- [X] I have chec...,{'url': 'https://api.github.com/repos/pandas-d...,https://api.github.com/repos/pandas-dev/pandas...,None,NaN,NaN
15,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://github.com/pandas-dev/pandas/issues/46332,1166971186,I_kwDOAA0YD85FjpEy,46332,BUG: Binary operations with empty string array...,...,2022-03-11T23:15:26Z,None,NONE,None,### Pandas version checks\r\n\r\n- [X] I have ...,{'url': 'https://api.github.com/repos/pandas-d...,https://api.github.com/repos/pandas-dev/pandas...,None,NaN,NaN
16,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://github.com/pandas-dev/pandas/issues/46331,1166957820,I_kwDOAA0YD85Fjlz8,46331,"BUG: the behavior of ""date_range"" function wit...",...,2022-03-13T07:51:43Z,None,NONE,None,### Pandas version checks\r\n\r\n- [X] I have ...,{'url': 'https://api.github.com/repos/pandas-d...,https://api.github.com/repos/pandas-dev/pandas...,None,NaN,NaN
17,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://github.com/pandas-dev/pandas/pull/46330,1166865454,PR_kwDOAA0YD840UmcA,46330,REF/PERF: MultiIndex.get_locs to use boolean a...,...,2022-03-12T21:07:45Z,None,MEMBER,None,- [x] [Tests added and passed](https://pandas....,{'url': 'https://api.github.com/repos/pandas-d...,https://api.github.com/repos/pandas-dev/pandas...,None,False,{'url': 'https://api.github.com/repos/pandas-d...
18,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://github.com/pandas-dev/pandas/issues/46326,1166612234,I_kwDOAA0YD85FiRcK,46326,BUG: `isin` propagates nulls for DataFrame but...,...,2022-03-11T16:53:06Z,None,NONE,None,### Pandas version checks\n\n- [X] I have chec...,{'url': 'https://api.github.com/repos/pandas-d...,https://api.github.com/repos/pandas-dev/pandas...,None,NaN,NaN
19,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://github.com/pandas-dev/pandas/issues/46324,1166353036,I_kwDOAA0YD85FhSKM,46324,BUG: core.groupby.GroupBy.apply unexpected beh...,...,2022-03-11T12:19:20Z,None,NONE,None,### Pandas version checks\n\n- [X] I have chec...,{'url': 'https://api.github.com/repos/pandas-d...,https://api.github.com/repos/pandas-dev/pandas...,None,NaN,NaN
20,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://github.com/pandas-dev/pandas/pull/46321,1166312846,PR_kwDOAA0YD840SzrD,46321,WIP Add ccache to Azure builds,...,2022-03-12T19:10:13Z,None,CONTRIBUTOR,None,Save around 5-10 minutes on Azure\r\n\r\nWhy d...,{'url': 'https://api.github.com/repos/pandas-d...,https://api.github.com/repos/pandas-dev/pandas...,None,True,{'url': 'https://api.github.com/repos/pandas-d...
21,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://github.com/pandas-dev/pandas/issues/46319,1166255061,I_kwDOAA0YD85Fg6PV,46319,BUG: `UnicodeError` when using `Period.strftim...,...,2022-03-11T10:51:46Z,None,CONTRIBUTOR,None,### Pandas version checks\n\n- [X] I have chec...,{'url': 'https://api.github.com/repos/pandas-d...,https://api.github.com/repos/pandas-dev/pandas...,None,NaN,NaN
22,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://github.com/pandas-dev/pandas/issues/46313,1165672382,I_kwDOAA0YD85Fer--,46313,BUG: Categorical of booleans has object .categ...,...,2022-03-11T12:32:13Z,None,CONTRIBUTOR,None,### Pandas version checks\n\n- [X] I have chec...,{'url': 'https://api.github.com/repos/pandas-d...,https://api.github.com/repos/pandas-dev/pandas...,None,NaN,NaN
23,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://github.com/pandas-dev/pandas/pull/46312,1165636565,PR_kwDOAA0YD840QmJ_,46312,BUG: avoid OOB flow in read_gbq and to_gbq,...,2022-03-11T01:30:39Z,None,CONTRIBUTOR,None,The console-based copy-paste-a-token flow has ...,{'url': 'https://api.github.com/repos/pandas-d...,https://api.github.com/repos/pandas-dev/pandas...,None,False,{'url': 'https://api.github.com/repos/pandas-d...
24,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://github.com/pandas-dev/pandas/issues/46310,1165554305,I_kwDOAA0YD85FePKB,46310,ENH: Add `subset` param to `add_(pre|suf)fix`,...,2022-03-11T00:46:10Z,None,CONTRIBUTOR,None,#### Is your feature request related to a prob...,{'url': 'https://api.github.com/repos/pandas-d...,https://api.github.com/repos/pandas-dev/pandas...,None,NaN,NaN
25,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://github.com/pandas-dev/pandas/pull/46308,1165401382,PR_kwDOAA0YD840P1BQ,46308,DOC: Add TextFileReader to docs,...,2022-03-11T23:48:13Z,None,MEMBER,None,- [x] closes #46187 (Replace xxxx with the Git...,{'url': 'https://api.github.com/repos/pandas-d...,https://api.github.com/repos/pandas-dev/pandas...,None,False,{'url': 'https://api.github.com/repos/pandas-d...
26,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://github.com/pandas-dev/pandas/issues/46305,1165243629,I_kwDOAA0YD85FdDTt,46305,ENH: merging using DataFrame index should rais...,...,2022-03-10T13:42:15Z,None,NONE,None,DataFrame `merge` has inconsistent behaviour d...,{'url': 'https://api.github.com/repos/pandas-d...,https://api.github.com/repos/pandas-dev/pandas...,None,NaN,NaN
27,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://github.com/pandas-dev/pandas/pull/46304,1165164366,PR_kwDOAA0YD840PCL-,46304,BUG: merge raising for Int64 and int64 dtype w...,...,2022-03-10T19:40:21Z,None,MEMBER,None,- [x] closes #46178 (Replace xxxx with the Git...,{'url': 'https://api.github.com/repos/pandas-d...,https://api.github.com/repos/pandas-dev/pandas...,None,False,{'url': 'https://api.github.com/repos/pandas-d...
28,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://github.com/pandas-dev/pandas/pull/46300,1164717212,PR_kwDOAA0YD840Nj7j,46300,TYP: sort_index,...,2022-03-13T12:28:32Z,None,CONTRIBUTOR,None,Tested the overloads with mypy and pyright:\r\...,{'url': 'https://api.github.com/repos/pandas-d...,https://api.github.com/repos/pandas-dev/pandas...,None,False,{'url': 'https://api.github.com/repos/pandas-d...
29,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://github.com/pandas-dev/pandas/issues/46298,1164620575,I_kwDOAA0YD85FarMf,46298,"BUG: ""data type 'Int64' not understood""",...,2022-03-10T09:32:52Z,None,NONE,None,### Pandas version checks\n\n- [X] I have chec...,{'url': 'https://api.github.com/repos/pandas-d...,https://api.github.com/repos/pandas-dev/pandas...,None,NaN,NaN

In [133]:
len(data1)

30

In [134]:
data1[0]

{'url': 'https://api.github.com/repos/pandas-dev/pandas/issues/46353',
 'repository_url': 'https://api.github.com/repos/pandas-dev/pandas',
 'labels_url': 'https://api.github.com/repos/pandas-dev/pandas/issues/46353/labels{/name}',
 'comments_url': 'https://api.github.com/repos/pandas-dev/pandas/issues/46353/comments',
 'events_url': 'https://api.github.com/repos/pandas-dev/pandas/issues/46353/events',
 'html_url': 'https://github.com/pandas-dev/pandas/issues/46353',
 'id': 1167498221,
 'node_id': 'I_kwDOAA0YD85Flpvt',
 'number': 46353,
 'title': 'DOC: Document that astype() for Series and Dataframe can accept a series of dtypes',
 'user': {'login': 'mvashishtha',
  'id': 10712109,
  'node_id': 'MDQ6VXNlcjEwNzEyMTA5',
  'avatar_url': 'https://avatars.githubusercontent.com/u/10712109?v=4',
  'gravatar_id': '',
  'url': 'https://api.github.com/users/mvashishtha',
  'html_url': 'https://github.com/mvashishtha',
  'followers_url': 'https://api.github.com/users/mvashishtha/followers',
  'following_url': 'https://api.github.com/users/mvashishtha/following{/other_user}',
  'gists_url': 'https://api.github.com/users/mvashishtha/gists{/gist_id}',
  'starred_url': 'https://api.github.com/users/mvashishtha/starred{/owner}{/repo}',
  'subscriptions_url': 'https://api.github.com/users/mvashishtha/subscriptions',
  'organizations_url': 'https://api.github.com/users/mvashishtha/orgs',
  'repos_url': 'https://api.github.com/users/mvashishtha/repos',
  'events_url': 'https://api.github.com/users/mvashishtha/events{/privacy}',
  'received_events_url': 'https://api.github.com/users/mvashishtha/received_events',
  'type': 'User',
  'site_admin': False},
 'labels': [{'id': 134699,
   'node_id': 'MDU6TGFiZWwxMzQ2OTk=',
   'url': 'https://api.github.com/repos/pandas-dev/pandas/labels/Docs',
   'name': 'Docs',
   'color': '3465A4',
   'default': False,
   'description': None},
  {'id': 1954720290,
   'node_id': 'MDU6TGFiZWwxOTU0NzIwMjkw',
   'url': 'https://api.github.com/repos/pandas-dev/pandas/labels/Needs%20Triage',
   'name': 'Needs Triage',
   'color': '0052cc',
   'default': False,
   'description': 'Issue that has not been reviewed by a pandas team member'}],
 'state': 'open',
 'locked': False,
 'assignee': None,
 'assignees': [],
 'milestone': None,
 'comments': 0,
 'created_at': '2022-03-13T06:52:08Z',
 'updated_at': '2022-03-13T06:52:08Z',
 'closed_at': None,
 'author_association': 'NONE',
 'active_lock_reason': None,
 'body': '### Pandas version checks\n\n- [X] I have checked that the issue still exists on the latest versions of the docs on `main` [here](https://pandas.pydata.org/docs/dev/)\n\n\n### Location of the documentation\n\nhttps://pandas.pydata.org/docs/reference/api/pandas.DataFrame.astype.html\r\n\r\nhttps://pandas.pydata.org/docs/reference/api/pandas.Series.astype.html\n\n### Documentation problem\n\nThe documentation for `DataFrame` states that `dtype` can be a `dict` mapping from column label to new type, or a scalar type. However, `dtype` can also be a `pd.Series` whose index contains a subset of the dataframe\'s labels (though perhaps in a different order) and whose values are dtypes. For example:\r\n\r\n```python\r\nimport pandas as pd\r\n\r\ndf = pd.DataFrame([[1, 2]])\r\nprint(f"original dtypes:\\n{df.dtypes}")\r\nnew_df = df.astype(pd.Series(["string", "object"], index=df.columns[::-1]))\r\nprint(f"new dtypes:\\n{new_df.dtypes}")\r\n```\r\n\r\nIn case the frame has duplicate column labels, the index of the new series of dtypes may still be a subset of the column labels. However, it appears that the only way that the new series can have a non-unique index is if that index is exactly equal to the dataframe\'s `columns`. For example, this works:\r\n\r\n```python\r\nimport pandas as pd\r\n\r\ndf = pd.DataFrame([[1, 2, 3]], columns=[0, 0, 1])\r\nprint(f"original dtypes:\\n{df.dtypes}")\r\nnew_df = df.astype(pd.Series(["string", "object", "float"], index=df.columns))\r\nprint(f"new dtypes:\\n{new_df.dtypes}")\r\n```\r\n\r\nbut giving the series an index with all the columns in a different order\r\n\r\n```python\r\nimport pandas as pd\r\n\r\ndf = pd.DataFrame([[1, 2, 3]], columns=[0, 0, 1])\r\nprint(f"original dtypes:\\n{df.dtypes}")\r\nnew_df = df.astype(pd.Series(["string", "object", "float"], index=df.columns[::-1]))\r\nprint(f"new dtypes:\\n{new_df.dtypes}")\r\n```\r\n\r\nraises `ValueError: cannot reindex on an axis with duplicate labels`:\r\n\r\n<details>\r\n<summary>Show stack trace</summary>\r\n\r\n```\r\nValueError                                Traceback (most recent call last)\r\nInput In [14], in <module>\r\n      3 df = pd.DataFrame([[1, 2, 3]], columns=[0, 0, 1])\r\n      4 print(f"original dtypes:\\n{df.dtypes}")\r\n----> 5 new_df = df.astype(pd.Series(["string", "object", "float"], index=df.columns[::-1]))\r\n      6 print(f"new dtypes:\\n{new_df.dtypes}")\r\n\r\nFile /usr/local/lib/python3.9/site-packages/pandas/core/generic.py:5898, in NDFrame.astype(self, dtype, copy, errors)\r\n   5895 from pandas import Series\r\n   5897 dtype_ser = Series(dtype, dtype=object)\r\n-> 5898 dtype_ser = dtype_ser.reindex(self.columns, fill_value=None, copy=False)\r\n   5900 results = []\r\n   5901 for i, (col_name, col) in enumerate(self.items()):\r\n\r\nFile /usr/local/lib/python3.9/site-packages/pandas/core/series.py:4672, in Series.reindex(self, *args, **kwargs)\r\n   4668         raise TypeError(\r\n   4669             "\'index\' passed as both positional and keyword argument"\r\n   4670         )\r\n   4671     kwargs.update({"index": index})\r\n-> 4672 return super().reindex(**kwargs)\r\n\r\nFile /usr/local/lib/python3.9/site-packages/pandas/core/generic.py:4974, in NDFrame.reindex(self, *args, **kwargs)\r\n   4971     return self._reindex_multi(axes, copy, fill_value)\r\n   4973 # perform the reindex on the axes\r\n-> 4974 return self._reindex_axes(\r\n   4975     axes, level, limit, tolerance, method, fill_value, copy\r\n   4976 ).__finalize__(self, method="reindex")\r\n\r\nFile /usr/local/lib/python3.9/site-packages/pandas/core/generic.py:4994, in NDFrame._reindex_axes(self, axes, level, limit, tolerance, method, fill_value, copy)\r\n   4989 new_index, indexer = ax.reindex(\r\n   4990     labels, level=level, limit=limit, tolerance=tolerance, method=method\r\n   4991 )\r\n   4993 axis = self._get_axis_number(a)\r\n-> 4994 obj = obj._reindex_with_indexers(\r\n   4995     {axis: [new_index, indexer]},\r\n   4996     fill_value=fill_value,\r\n   4997     copy=copy,\r\n   4998     allow_dups=False,\r\n   4999 )\r\n   5000 # If we\'ve made a copy once, no need to make another one\r\n   5001 copy = False\r\n\r\nFile /usr/local/lib/python3.9/site-packages/pandas/core/generic.py:5040, in NDFrame._reindex_with_indexers(self, reindexers, fill_value, copy, allow_dups)\r\n   5037     indexer = ensure_platform_int(indexer)\r\n   5039 # TODO: speed up on homogeneous DataFrame objects (see _reindex_multi)\r\n-> 5040 new_data = new_data.reindex_indexer(\r\n   5041     index,\r\n   5042     indexer,\r\n   5043     axis=baxis,\r\n   5044     fill_value=fill_value,\r\n   5045     allow_dups=allow_dups,\r\n   5046     copy=copy,\r\n   5047 )\r\n   5048 # If we\'ve made a copy once, no need to make another one\r\n   5049 copy = False\r\n\r\nFile /usr/local/lib/python3.9/site-packages/pandas/core/internals/managers.py:679, in BaseBlockManager.reindex_indexer(self, new_axis, indexer, axis, fill_value, allow_dups, copy, consolidate, only_slice, use_na_proxy)\r\n    677 # some axes don\'t allow reindexing with dups\r\n    678 if not allow_dups:\r\n--> 679     self.axes[axis]._validate_can_reindex(indexer)\r\n    681 if axis >= self.ndim:\r\n    682     raise IndexError("Requested axis not found in manager")\r\n\r\nFile /usr/local/lib/python3.9/site-packages/pandas/core/indexes/base.py:4107, in Index._validate_can_reindex(self, indexer)\r\n   4105 # trying to reindex on an axis with duplicates\r\n   4106 if not self._index_as_unique and len(indexer):\r\n-> 4107     raise ValueError("cannot reindex on an axis with duplicate labels")\r\n\r\nValueError: cannot reindex on an axis with duplicate labels\r\n```\r\n</details>\r\n\r\nand so does passing a series of dtypes for just the first two columns:\r\n\r\n```python\r\nimport pandas as pd\r\n\r\ndf = pd.DataFrame([[1, 2, 3]], columns=[0, 0, 1])\r\nprint(f"original dtypes:\\n{df.dtypes}")\r\nnew_df = df.astype(pd.Series(["string", "object"], index=df.columns[:2]))\r\nprint(f"new dtypes:\\n{new_df.dtypes}")\r\n```\r\n\r\nalthough passing a type for just duplicate column label `0` converts the first two columns to the same new type:\r\n\r\n\r\n```python\r\nimport pandas as pd\r\n\r\ndf = pd.DataFrame([[1, 2, 3]], columns=[0, 0, 1])\r\nprint(f"original dtypes:\\n{df.dtypes}")\r\nnew_df = df.astype(pd.Series(["string"], index=[0]))\r\nprint(f"new dtypes:\\n{new_df.dtypes}")\r\n```\r\n\r\nFinally, it\'s possible to pass a series of a single dtype to `Series.astype`. In that case, the one value in the series index must be the series name, e.g.:\r\n\r\n```python\r\nimport pandas as pd\r\ns = pd.Series(1)\r\ns.astype(pd.Series(["int64"], index=[s.name]))\r\n```\r\n\r\n\n\n### Suggested fix for documentation\n\nI don\'t know whether all of this is an intended feature, or just a bug caused by converting dict-like dtypes to `Series` [here](https://github.com/pandas-dev/pandas/blob/48d515958d5805f0e62e34b7424097e5575089a8/pandas/core/generic.py#L5901). If it\'s a feature, it should be documented in the documentation for `astype` for both `DataFrame` and `Series`.',
 'reactions': {'url': 'https://api.github.com/repos/pandas-dev/pandas/issues/46353/reactions',
  'total_count': 0,
  '+1': 0,
  '-1': 0,
  'laugh': 0,
  'hooray': 0,
  'confused': 0,
  'heart': 0,
  'rocket': 0,
  'eyes': 0},
 'timeline_url': 'https://api.github.com/repos/pandas-dev/pandas/issues/46353/timeline',
 'performed_via_github_app': None}

In [135]:
for key,value in data1[0].items():
    if key == 'id':
        print(value)

1167498221

In [136]:
for i in range(len(data1)):
    print(data1[i]['user']['id'])

10712109
83373712
175722
10647082
8078968
20880292
175722
175722
15113894
36619387
8078968
7614606
8078968
953992
39624018
1538165
19217750
8519523
53796099
41342515
175722
3236794
8238804
247555
30958850
61934744
73829711
61934744
6618166
726951

In [137]:
data1

[{'url': 'https://api.github.com/repos/pandas-dev/pandas/issues/46353',
  'repository_url': 'https://api.github.com/repos/pandas-dev/pandas',
  'labels_url': 'https://api.github.com/repos/pandas-dev/pandas/issues/46353/labels{/name}',
  'comments_url': 'https://api.github.com/repos/pandas-dev/pandas/issues/46353/comments',
  'events_url': 'https://api.github.com/repos/pandas-dev/pandas/issues/46353/events',
  'html_url': 'https://github.com/pandas-dev/pandas/issues/46353',
  'id': 1167498221,
  'node_id': 'I_kwDOAA0YD85Flpvt',
  'number': 46353,
  'title': 'DOC: Document that astype() for Series and Dataframe can accept a series of dtypes',
  'user': {'login': 'mvashishtha',
   'id': 10712109,
   'node_id': 'MDQ6VXNlcjEwNzEyMTA5',
   'avatar_url': 'https://avatars.githubusercontent.com/u/10712109?v=4',
   'gravatar_id': '',
   'url': 'https://api.github.com/users/mvashishtha',
   'html_url': 'https://github.com/mvashishtha',
   'followers_url': 'https://api.github.com/users/mvashishtha/followers',
   'following_url': 'https://api.github.com/users/mvashishtha/following{/other_user}',
   'gists_url': 'https://api.github.com/users/mvashishtha/gists{/gist_id}',
   'starred_url': 'https://api.github.com/users/mvashishtha/starred{/owner}{/repo}',
   'subscriptions_url': 'https://api.github.com/users/mvashishtha/subscriptions',
   'organizations_url': 'https://api.github.com/users/mvashishtha/orgs',
   'repos_url': 'https://api.github.com/users/mvashishtha/repos',
   'events_url': 'https://api.github.com/users/mvashishtha/events{/privacy}',
   'received_events_url': 'https://api.github.com/users/mvashishtha/received_events',
   'type': 'User',
   'site_admin': False},
  'labels': [{'id': 134699,
    'node_id': 'MDU6TGFiZWwxMzQ2OTk=',
    'url': 'https://api.github.com/repos/pandas-dev/pandas/labels/Docs',
    'name': 'Docs',
    'color': '3465A4',
    'default': False,
    'description': None},
   {'id': 1954720290,
    'node_id': 'MDU6TGFiZWwxOTU0NzIwMjkw',
    'url': 'https://api.github.com/repos/pandas-dev/pandas/labels/Needs%20Triage',
    'name': 'Needs Triage',
    'color': '0052cc',
    'default': False,
    'description': 'Issue that has not been reviewed by a pandas team member'}],
  'state': 'open',
  'locked': False,
  'assignee': None,
  'assignees': [],
  'milestone': None,
  'comments': 0,
  'created_at': '2022-03-13T06:52:08Z',
  'updated_at': '2022-03-13T06:52:08Z',
  'closed_at': None,
  'author_association': 'NONE',
  'active_lock_reason': None,
  'body': '### Pandas version checks\n\n- [X] I have checked that the issue still exists on the latest versions of the docs on `main` [here](https://pandas.pydata.org/docs/dev/)\n\n\n### Location of the documentation\n\nhttps://pandas.pydata.org/docs/reference/api/pandas.DataFrame.astype.html\r\n\r\nhttps://pandas.pydata.org/docs/reference/api/pandas.Series.astype.html\n\n### Documentation problem\n\nThe documentation for `DataFrame` states that `dtype` can be a `dict` mapping from column label to new type, or a scalar type. However, `dtype` can also be a `pd.Series` whose index contains a subset of the dataframe\'s labels (though perhaps in a different order) and whose values are dtypes. For example:\r\n\r\n```python\r\nimport pandas as pd\r\n\r\ndf = pd.DataFrame([[1, 2]])\r\nprint(f"original dtypes:\\n{df.dtypes}")\r\nnew_df = df.astype(pd.Series(["string", "object"], index=df.columns[::-1]))\r\nprint(f"new dtypes:\\n{new_df.dtypes}")\r\n```\r\n\r\nIn case the frame has duplicate column labels, the index of the new series of dtypes may still be a subset of the column labels. However, it appears that the only way that the new series can have a non-unique index is if that index is exactly equal to the dataframe\'s `columns`. For example, this works:\r\n\r\n```python\r\nimport pandas as pd\r\n\r\ndf = pd.DataFrame([[1, 2, 3]], columns=[0, 0, 1])\r\nprint(f"original dtypes:\\n{df.dtypes}")\r\nnew_df = df.astype(pd.Series(["string", "object", "float"], index=df.columns))\r\nprint(f"new dtypes:\\n{new_df.dtypes}")\r\n```\r\n\r\nbut giving the series an index with all the columns in a different order\r\n\r\n```python\r\nimport pandas as pd\r\n\r\ndf = pd.DataFrame([[1, 2, 3]], columns=[0, 0, 1])\r\nprint(f"original dtypes:\\n{df.dtypes}")\r\nnew_df = df.astype(pd.Series(["string", "object", "float"], index=df.columns[::-1]))\r\nprint(f"new dtypes:\\n{new_df.dtypes}")\r\n```\r\n\r\nraises `ValueError: cannot reindex on an axis with duplicate labels`:\r\n\r\n<details>\r\n<summary>Show stack trace</summary>\r\n\r\n```\r\nValueError                                Traceback (most recent call last)\r\nInput In [14], in <module>\r\n      3 df = pd.DataFrame([[1, 2, 3]], columns=[0, 0, 1])\r\n      4 print(f"original dtypes:\\n{df.dtypes}")\r\n----> 5 new_df = df.astype(pd.Series(["string", "object", "float"], index=df.columns[::-1]))\r\n      6 print(f"new dtypes:\\n{new_df.dtypes}")\r\n\r\nFile /usr/local/lib/python3.9/site-packages/pandas/core/generic.py:5898, in NDFrame.astype(self, dtype, copy, errors)\r\n   5895 from pandas import Series\r\n   5897 dtype_ser = Series(dtype, dtype=object)\r\n-> 5898 dtype_ser = dtype_ser.reindex(self.columns, fill_value=None, copy=False)\r\n   5900 results = []\r\n   5901 for i, (col_name, col) in enumerate(self.items()):\r\n\r\nFile /usr/local/lib/python3.9/site-packages/pandas/core/series.py:4672, in Series.reindex(self, *args, **kwargs)\r\n   4668         raise TypeError(\r\n   4669             "\'index\' passed as both positional and keyword argument"\r\n   4670         )\r\n   4671     kwargs.update({"index": index})\r\n-> 4672 return super().reindex(**kwargs)\r\n\r\nFile /usr/local/lib/python3.9/site-packages/pandas/core/generic.py:4974, in NDFrame.reindex(self, *args, **kwargs)\r\n   4971     return self._reindex_multi(axes, copy, fill_value)\r\n   4973 # perform the reindex on the axes\r\n-> 4974 return self._reindex_axes(\r\n   4975     axes, level, limit, tolerance, method, fill_value, copy\r\n   4976 ).__finalize__(self, method="reindex")\r\n\r\nFile /usr/local/lib/python3.9/site-packages/pandas/core/generic.py:4994, in NDFrame._reindex_axes(self, axes, level, limit, tolerance, method, fill_value, copy)\r\n   4989 new_index, indexer = ax.reindex(\r\n   4990     labels, level=level, limit=limit, tolerance=tolerance, method=method\r\n   4991 )\r\n   4993 axis = self._get_axis_number(a)\r\n-> 4994 obj = obj._reindex_with_indexers(\r\n   4995     {axis: [new_index, indexer]},\r\n   4996     fill_value=fill_value,\r\n   4997     copy=copy,\r\n   4998     allow_dups=False,\r\n   4999 )\r\n   5000 # If we\'ve made a copy once, no need to make another one\r\n   5001 copy = False\r\n\r\nFile /usr/local/lib/python3.9/site-packages/pandas/core/generic.py:5040, in NDFrame._reindex_with_indexers(self, reindexers, fill_value, copy, allow_dups)\r\n   5037     indexer = ensure_platform_int(indexer)\r\n   5039 # TODO: speed up on homogeneous DataFrame objects (see _reindex_multi)\r\n-> 5040 new_data = new_data.reindex_indexer(\r\n   5041     index,\r\n   5042     indexer,\r\n   5043     axis=baxis,\r\n   5044     fill_value=fill_value,\r\n   5045     allow_dups=allow_dups,\r\n   5046     copy=copy,\r\n   5047 )\r\n   5048 # If we\'ve made a copy once, no need to make another one\r\n   5049 copy = False\r\n\r\nFile /usr/local/lib/python3.9/site-packages/pandas/core/internals/managers.py:679, in BaseBlockManager.reindex_indexer(self, new_axis, indexer, axis, fill_value, allow_dups, copy, consolidate, only_slice, use_na_proxy)\r\n    677 # some axes don\'t allow reindexing with dups\r\n    678 if not allow_dups:\r\n--> 679     self.axes[axis]._validate_can_reindex(indexer)\r\n    681 if axis >= self.ndim:\r\n    682     raise IndexError("Requested axis not found in manager")\r\n\r\nFile /usr/local/lib/python3.9/site-packages/pandas/core/indexes/base.py:4107, in Index._validate_can_reindex(self, indexer)\r\n   4105 # trying to reindex on an axis with duplicates\r\n   4106 if not self._index_as_unique and len(indexer):\r\n-> 4107     raise ValueError("cannot reindex on an axis with duplicate labels")\r\n\r\nValueError: cannot reindex on an axis with duplicate labels\r\n```\r\n</details>\r\n\r\nand so does passing a series of dtypes for just the first two columns:\r\n\r\n```python\r\nimport pandas as pd\r\n\r\ndf = pd.DataFrame([[1, 2, 3]], columns=[0, 0, 1])\r\nprint(f"original dtypes:\\n{df.dtypes}")\r\nnew_df = df.astype(pd.Series(["string", "object"], index=df.columns[:2]))\r\nprint(f"new dtypes:\\n{new_df.dtypes}")\r\n```\r\n\r\nalthough passing a type for just duplicate column label `0` converts the first two columns to the same new type:\r\n\r\n\r\n```python\r\nimport pandas as pd\r\n\r\ndf = pd.DataFrame([[1, 2, 3]], columns=[0, 0, 1])\r\nprint(f"original dtypes:\\n{df.dtypes}")\r\nnew_df = df.astype(pd.Series(["string"], index=[0]))\r\nprint(f"new dtypes:\\n{new_df.dtypes}")\r\n```\r\n\r\nFinally, it\'s possible to pass a series of a single dtype to `Series.astype`. In that case, the one value in the series index must be the series name, e.g.:\r\n\r\n```python\r\nimport pandas as pd\r\ns = pd.Series(1)\r\ns.astype(pd.Series(["int64"], index=[s.name]))\r\n```\r\n\r\n\n\n### Suggested fix for documentation\n\nI don\'t know whether all of this is an intended feature, or just a bug caused by converting dict-like dtypes to `Series` [here](https://github.com/pandas-dev/pandas/blob/48d515958d5805f0e62e34b7424097e5575089a8/pandas/core/generic.py#L5901). If it\'s a feature, it should be documented in the documentation for `astype` for both `DataFrame` and `Series`.',
  'reactions': {'url': 'https://api.github.com/repos/pandas-dev/pandas/issues/46353/reactions',
   'total_count': 0,
   '+1': 0,
   '-1': 0,
   'laugh': 0,
   'hooray': 0,
   'confused': 0,
   'heart': 0,
   'rocket': 0,
   'eyes': 0},
  'timeline_url': 'https://api.github.com/repos/pandas-dev/pandas/issues/46353/timeline',
  'performed_via_github_app': None},
 {'url': 'https://api.github.com/repos/pandas-dev/pandas/issues/46352',
  'repository_url': 'https://api.github.com/repos/pandas-dev/pandas',
  'labels_url': 'https://api.github.com/repos/pandas-dev/pandas/issues/46352/labels{/name}',
  'comments_url': 'https://api.github.com/repos/pandas-dev/pandas/issues/46352/comments',
  'events_url': 'https://api.github.com/repos/pandas-dev/pandas/issues/46352/events',
  'html_url': 'https://github.com/pandas-dev/pandas/issues/46352',
  'id': 1167470919,
  'node_id': 'I_kwDOAA0YD85FljFH',
  'number': 46352,
  'title': 'ENH: read_excel should assume engine when passing openpyxl.Workbook object',
  'user': {'login': 'scotscotmcc',
   'id': 83373712,
   'node_id': 'MDQ6VXNlcjgzMzczNzEy',
   'avatar_url': 'https://avatars.githubusercontent.com/u/83373712?v=4',
   'gravatar_id': '',
   'url': 'https://api.github.com/users/scotscotmcc',
   'html_url': 'https://github.com/scotscotmcc',
   'followers_url': 'https://api.github.com/users/scotscotmcc/followers',
   'following_url': 'https://api.github.com/users/scotscotmcc/following{/other_user}',
   'gists_url': 'https://api.github.com/users/scotscotmcc/gists{/gist_id}',
   'starred_url': 'https://api.github.com/users/scotscotmcc/starred{/owner}{/repo}',
   'subscriptions_url': 'https://api.github.com/users/scotscotmcc/subscriptions',
   'organizations_url': 'https://api.github.com/users/scotscotmcc/orgs',
   'repos_url': 'https://api.github.com/users/scotscotmcc/repos',
   'events_url': 'https://api.github.com/users/scotscotmcc/events{/privacy}',
   'received_events_url': 'https://api.github.com/users/scotscotmcc/received_events',
   'type': 'User',
   'site_admin': False},
  'labels': [{'id': 76812,
    'node_id': 'MDU6TGFiZWw3NjgxMg==',
    'url': 'https://api.github.com/repos/pandas-dev/pandas/labels/Enhancement',
    'name': 'Enhancement',
    'color': '4E9A06',
    'default': False,
    'description': None},
   {'id': 1954720290,
    'node_id': 'MDU6TGFiZWwxOTU0NzIwMjkw',
    'url': 'https://api.github.com/repos/pandas-dev/pandas/labels/Needs%20Triage',
    'name': 'Needs Triage',
    'color': '0052cc',
    'default': False,
    'description': 'Issue that has not been reviewed by a pandas team member'}],
  'state': 'open',
  'locked': False,
  'assignee': None,
  'assignees': [],
  'milestone': None,
  'comments': 0,
  'created_at': '2022-03-13T03:51:41Z',
  'updated_at': '2022-03-13T03:51:41Z',
  'closed_at': None,
  'author_association': 'NONE',
  'active_lock_reason': None,
  'body': '#### Is your feature request related to a problem?\r\n\r\nWhen your `io` parameter for `pd.read_excel()` is an openpyxl.Workbook object, the function should assume that `engine=\'openpyxl\'`. Right now, if you don\'t specify the engine, you will get a `ValueError: Invalid file path or buffer object type: <class \'openpyxl.workbook.workbook.Workbook\'>`. However, if you explicitly pass the engine, it will load fine.\r\n\r\nIt seems like passing in the specific workbook object would only ever be done if you want it to read it with that engine, so we should just assume that engine.\r\n\r\nThe current documentation for `read_excel()` specifies that you can use an `xlrd.Book`, and that works fine without an explicit `engine`. It doesn\'t say that you can use an `openpyxl.Workbook` at all, but it does work when you declare the `engine`.\r\n\r\nThis has come up as a small inconvenience for me a few times. I have a script where I am pulling some data out of Excel that is not a table at all, and so I\'m using opening it as an `openpyxl.Workbook` and using some of the tools from that library, and then also want to pull another table using pandas. I want to do this without opening the workbook multiple times, so I use the same workbook to pass into `pd.read_excel()`. It then throws and error and I say "Oh yea, I need the engine."\r\n\r\n#### Describe the solution you\'d like\r\n\r\nOne should be able to do\r\n\r\n```python\r\nimport pandas as pd\r\nimport openpyxl\r\n\r\nwb = openpyxl.load_Workbook(filepath,...)\r\ndf = pd.read_excel(wb,...) # and not include engine\r\nwb.close()\r\n```\r\n\r\nThis should work the same as just `df = pd.read_excel(filepath,...)`\r\n\r\n#### Describe alternatives you\'ve considered\r\n\r\nAlternatives seem to be (1) explicitly pass `engine` or (2) don\'t use `openpyxl.Workbook` objects.\r\n\r\n#### Potential Solution\r\n\r\n```python\r\n# starting line 1466 or so of pandas.io.excel_base.py\r\nif isinstance(path_or_buffer, openpyxl.Workbook):\r\n    if engine == "openpyxl":\r\n        pass\r\n    elif engine is None:\r\n        engine = "openpyxl"\r\n    else:\r\n        raise ValueError(f"Excel object is openpyxl.Workbook, but engine is {engine}")\r\n```\r\n',
  'reactions': {'url': 'https://api.github.com/repos/pandas-dev/pandas/issues/46352/reactions',
   'total_count': 0,
   '+1': 0,
   '-1': 0,
   'laugh': 0,
   'hooray': 0,
   'confused': 0,
   'heart': 0,
   'rocket': 0,
   'eyes': 0},
  'timeline_url': 'https://api.github.com/repos/pandas-dev/pandas/issues/46352/timeline',
  'performed_via_github_app': None},
 {'url': 'https://api.github.com/repos/pandas-dev/pandas/issues/46351',
  'repository_url': 'https://api.github.com/repos/pandas-dev/pandas',
  'labels_url': 'https://api.github.com/repos/pandas-dev/pandas/issues/46351/labels{/name}',
  'comments_url': 'https://api.github.com/repos/pandas-dev/pandas/issues/46351/comments',
  'events_url': 'https://api.github.com/repos/pandas-dev/pandas/issues/46351/events',
  'html_url': 'https://github.com/pandas-dev/pandas/issues/46351',
  'id': 1167422549,
  'node_id': 'I_kwDOAA0YD85FlXRV',
  'number': 46351,
  'title': 'Question: why use Azure for CI?',
  'user': {'login': 'jonashaag',
   'id': 175722,
   'node_id': 'MDQ6VXNlcjE3NTcyMg==',
   'avatar_url': 'https://avatars.githubusercontent.com/u/175722?v=4',
   'gravatar_id': '',
   'url': 'https://api.github.com/users/jonashaag',
   'html_url': 'https://github.com/jonashaag',
   'followers_url': 'https://api.github.com/users/jonashaag/followers',
   'following_url': 'https://api.github.com/users/jonashaag/following{/other_user}',
   'gists_url': 'https://api.github.com/users/jonashaag/gists{/gist_id}',
   'starred_url': 'https://api.github.com/users/jonashaag/starred{/owner}{/repo}',
   'subscriptions_url': 'https://api.github.com/users/jonashaag/subscriptions',
   'organizations_url': 'https://api.github.com/users/jonashaag/orgs',
   'repos_url': 'https://api.github.com/users/jonashaag/repos',
   'events_url': 'https://api.github.com/users/jonashaag/events{/privacy}',
   'received_events_url': 'https://api.github.com/users/jonashaag/received_events',
   'type': 'User',
   'site_admin': False},
  'labels': [{'id': 48070600,
    'node_id': 'MDU6TGFiZWw0ODA3MDYwMA==',
    'url': 'https://api.github.com/repos/pandas-dev/pandas/labels/CI',
    'name': 'CI',
    'color': 'a2bca7',
    'default': False,
    'description': 'Continuous Integration'}],
  'state': 'open',
  'locked': False,
  'assignee': None,
  'assignees': [],
  'milestone': None,
  'comments': 4,
  'created_at': '2022-03-12T22:58:55Z',
  'updated_at': '2022-03-12T23:13:37Z',
  'closed_at': None,
  'author_association': 'CONTRIBUTOR',
  'active_lock_reason': None,
  'body': 'What’s the reason that pandas uses GHA alongside Azure? What does Azure provide that GHA doesn’t?',
  'reactions': {'url': 'https://api.github.com/repos/pandas-dev/pandas/issues/46351/reactions',
   'total_count': 0,
   '+1': 0,
   '-1': 0,
   'laugh': 0,
   'hooray': 0,
   'confused': 0,
   'heart': 0,
   'rocket': 0,
   'eyes': 0},
  'timeline_url': 'https://api.github.com/repos/pandas-dev/pandas/issues/46351/timeline',
  'performed_via_github_app': None},
 {'url': 'https://api.github.com/repos/pandas-dev/pandas/issues/46350',
  'repository_url': 'https://api.github.com/repos/pandas-dev/pandas',
  'labels_url': 'https://api.github.com/repos/pandas-dev/pandas/issues/46350/labels{/name}',
  'comments_url': 'https://api.github.com/repos/pandas-dev/pandas/issues/46350/comments',
  'events_url': 'https://api.github.com/repos/pandas-dev/pandas/issues/46350/events',
  'html_url': 'https://github.com/pandas-dev/pandas/pull/46350',
  'id': 1167422110,
  'node_id': 'PR_kwDOAA0YD840WVgz',
  'number': 46350,
  'title': 'TST: xfail(strict=False) flaky hashtable test on ARM',
  'user': {'login': 'mroeschke',
   'id': 10647082,
   'node_id': 'MDQ6VXNlcjEwNjQ3MDgy',
   'avatar_url': 'https://avatars.githubusercontent.com/u/10647082?v=4',
   'gravatar_id': '',
   'url': 'https://api.github.com/users/mroeschke',
   'html_url': 'https://github.com/mroeschke',
   'followers_url': 'https://api.github.com/users/mroeschke/followers',
   'following_url': 'https://api.github.com/users/mroeschke/following{/other_user}',
   'gists_url': 'https://api.github.com/users/mroeschke/gists{/gist_id}',
   'starred_url': 'https://api.github.com/users/mroeschke/starred{/owner}{/repo}',
   'subscriptions_url': 'https://api.github.com/users/mroeschke/subscriptions',
   'organizations_url': 'https://api.github.com/users/mroeschke/orgs',
   'repos_url': 'https://api.github.com/users/mroeschke/repos',
   'events_url': 'https://api.github.com/users/mroeschke/events{/privacy}',
   'received_events_url': 'https://api.github.com/users/mroeschke/received_events',
   'type': 'User',
   'site_admin': False},
  'labels': [{'id': 127685,
    'node_id': 'MDU6TGFiZWwxMjc2ODU=',
    'url': 'https://api.github.com/repos/pandas-dev/pandas/labels/Testing',
    'name': 'Testing',
    'color': 'C4A000',
    'default': False,
    'description': 'pandas testing functions or related to the test suite'},
   {'id': 48070600,
    'node_id': 'MDU6TGFiZWw0ODA3MDYwMA==',
    'url': 'https://api.github.com/repos/pandas-dev/pandas/labels/CI',
    'name': 'CI',
    'color': 'a2bca7',
    'default': False,
    'description': 'Continuous Integration'},
   {'id': 2628846204,
    'node_id': 'MDU6TGFiZWwyNjI4ODQ2MjA0',

In [138]:
pd.DataFrame(data1,columns=['url','repository_url','labels_url'])

,url,repository_url,labels_url
0,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,https://api.github.com/repos/pandas-dev/pandas...
1,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,https://api.github.com/repos/pandas-dev/pandas...
2,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,https://api.github.com/repos/pandas-dev/pandas...
3,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,https://api.github.com/repos/pandas-dev/pandas...
4,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,https://api.github.com/repos/pandas-dev/pandas...
5,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,https://api.github.com/repos/pandas-dev/pandas...
6,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,https://api.github.com/repos/pandas-dev/pandas...
7,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,https://api.github.com/repos/pandas-dev/pandas...
8,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,https://api.github.com/repos/pandas-dev/pandas...
9,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,https://api.github.com/repos/pandas-dev/pandas...
10,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,https://api.github.com/repos/pandas-dev/pandas...
11,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,https://api.github.com/repos/pandas-dev/pandas...
12,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,https://api.github.com/repos/pandas-dev/pandas...
13,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,https://api.github.com/repos/pandas-dev/pandas...
14,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,https://api.github.com/repos/pandas-dev/pandas...
15,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,https://api.github.com/repos/pandas-dev/pandas...
16,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,https://api.github.com/repos/pandas-dev/pandas...
17,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,https://api.github.com/repos/pandas-dev/pandas...
18,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,https://api.github.com/repos/pandas-dev/pandas...
19,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,https://api.github.com/repos/pandas-dev/pandas...
20,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,https://api.github.com/repos/pandas-dev/pandas...
21,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,https://api.github.com/repos/pandas-dev/pandas...
22,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,https://api.github.com/repos/pandas-dev/pandas...
23,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,https://api.github.com/repos/pandas-dev/pandas...
24,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,https://api.github.com/repos/pandas-dev/pandas...
25,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,https://api.github.com/repos/pandas-dev/pandas...
26,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,https://api.github.com/repos/pandas-dev/pandas...
27,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,https://api.github.com/repos/pandas-dev/pandas...
28,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,https://api.github.com/repos/pandas-dev/pandas...
29,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,https://api.github.com/repos/pandas-dev/pandas...

In [139]:
df2 = pd.DataFrame(data1,columns=['url','repository_url','labels_url','user'])
df2

,url,repository_url,labels_url,user
0,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,https://api.github.com/repos/pandas-dev/pandas...,"{'login': 'mvashishtha', 'id': 10712109, 'node..."
1,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,https://api.github.com/repos/pandas-dev/pandas...,"{'login': 'scotscotmcc', 'id': 83373712, 'node..."
2,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,https://api.github.com/repos/pandas-dev/pandas...,"{'login': 'jonashaag', 'id': 175722, 'node_id'..."
3,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,https://api.github.com/repos/pandas-dev/pandas...,"{'login': 'mroeschke', 'id': 10647082, 'node_i..."
4,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,https://api.github.com/repos/pandas-dev/pandas...,"{'login': 'jbrockmendel', 'id': 8078968, 'node..."
5,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,https://api.github.com/repos/pandas-dev/pandas...,"{'login': 'ryansdowning', 'id': 20880292, 'nod..."
6,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,https://api.github.com/repos/pandas-dev/pandas...,"{'login': 'jonashaag', 'id': 175722, 'node_id'..."
7,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,https://api.github.com/repos/pandas-dev/pandas...,"{'login': 'jonashaag', 'id': 175722, 'node_id'..."
8,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,https://api.github.com/repos/pandas-dev/pandas...,"{'login': 'Dr-Irv', 'id': 15113894, 'node_id':..."
9,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,https://api.github.com/repos/pandas-dev/pandas...,"{'login': 'weikhor', 'id': 36619387, 'node_id'..."
10,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,https://api.github.com/repos/pandas-dev/pandas...,"{'login': 'jbrockmendel', 'id': 8078968, 'node..."
11,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,https://api.github.com/repos/pandas-dev/pandas...,"{'login': 'fangchenli', 'id': 7614606, 'node_i..."
12,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,https://api.github.com/repos/pandas-dev/pandas...,"{'login': 'jbrockmendel', 'id': 8078968, 'node..."
13,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,https://api.github.com/repos/pandas-dev/pandas...,"{'login': 'jreback', 'id': 953992, 'node_id': ..."
14,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,https://api.github.com/repos/pandas-dev/pandas...,"{'login': 'Diwakar-Gupta', 'id': 39624018, 'no..."
15,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,https://api.github.com/repos/pandas-dev/pandas...,"{'login': 'vyasr', 'id': 1538165, 'node_id': '..."
16,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,https://api.github.com/repos/pandas-dev/pandas...,"{'login': 'idanhazan', 'id': 19217750, 'node_i..."
17,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,https://api.github.com/repos/pandas-dev/pandas...,"{'login': 'lukemanley', 'id': 8519523, 'node_i..."
18,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,https://api.github.com/repos/pandas-dev/pandas...,"{'login': 'brandon-b-miller', 'id': 53796099, ..."
19,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,https://api.github.com/repos/pandas-dev/pandas...,"{'login': 'panda-byte', 'id': 41342515, 'node_..."
20,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,https://api.github.com/repos/pandas-dev/pandas...,"{'login': 'jonashaag', 'id': 175722, 'node_id'..."
21,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,https://api.github.com/repos/pandas-dev/pandas...,"{'login': 'smarie', 'id': 3236794, 'node_id': ..."
22,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,https://api.github.com/repos/pandas-dev/pandas...,"{'login': 'ivirshup', 'id': 8238804, 'node_id'..."
23,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,https://api.github.com/repos/pandas-dev/pandas...,"{'login': 'tswast', 'id': 247555, 'node_id': '..."
24,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,https://api.github.com/repos/pandas-dev/pandas...,"{'login': 'janosh', 'id': 30958850, 'node_id':..."
25,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,https://api.github.com/repos/pandas-dev/pandas...,"{'login': 'phofl', 'id': 61934744, 'node_id': ..."
26,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,https://api.github.com/repos/pandas-dev/pandas...,"{'login': 'jloxh', 'id': 73829711, 'node_id': ..."
27,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,https://api.github.com/repos/pandas-dev/pandas...,"{'login': 'phofl', 'id': 61934744, 'node_id': ..."
28,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,https://api.github.com/repos/pandas-dev/pandas...,"{'login': 'twoertwein', 'id': 6618166, 'node_i..."
29,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,https://api.github.com/repos/pandas-dev/pandas...,"{'login': 'TouriM', 'id': 726951, 'node_id': '..."

In [140]:
df2.to_csv('jsonResponse.csv')

In [141]:
df = pd.read_csv('https://raw.githubusercontent.com/datasciencedojo/datasets/master/titanic.csv')

In [142]:
df

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S
...,...,...,...,...,...,...,...,...,...,...,...,...
886,887,0,2,"Montvila, Rev. Juozas",male,27.0,0,0,211536,13.0000,NaN,S
887,888,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.0000,B42,S
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,1,2,W./C. 6607,23.4500,NaN,S
889,890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.0000,C148,C
890,891,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.7500,NaN,Q

In [143]:
type(df)

pandas.core.frame.DataFrame

In [144]:
df.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [145]:
df.tail()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
886,887,0,2,"Montvila, Rev. Juozas",male,27.0,0,0,211536,13.00,NaN,S
887,888,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.00,B42,S
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,1,2,W./C. 6607,23.45,NaN,S
889,890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.00,C148,C
890,891,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.75,NaN,Q

In [146]:
df.dtypes

PassengerId      int64
Survived         int64
Pclass           int64
Name            object
Sex             object
Age            float64
SibSp            int64
Parch            int64
Ticket          object
Fare           float64
Cabin           object
Embarked        object
dtype: object

In [147]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  891 non-null    int64
 1   Survived     891 non-null    int64
 2   Pclass       891 non-null    int64
 3   Name         891 non-null    object
 4   Sex          891 non-null    object
 5   Age          714 non-null    float64
 6   SibSp        891 non-null    int64
 7   Parch        891 non-null    int64
 8   Ticket       891 non-null    object
 9   Fare         891 non-null    float64
 10  Cabin        204 non-null    object
 11  Embarked     889 non-null    object
dtypes: float64(2), int64(5), object(5)
memory usage: 83.7+ KB

In [148]:
df.describe()

,PassengerId,Survived,Pclass,Age,SibSp,Parch,Fare
count,891.000000,891.000000,891.000000,714.000000,891.000000,891.000000,891.000000
mean,446.000000,0.383838,2.308642,29.699118,0.523008,0.381594,32.204208
std,257.353842,0.486592,0.836071,14.526497,1.102743,0.806057,49.693429
min,1.000000,0.000000,1.000000,0.420000,0.000000,0.000000,0.000000
25%,223.500000,0.000000,2.000000,20.125000,0.000000,0.000000,7.910400
50%,446.000000,0.000000,3.000000,28.000000,0.000000,0.000000,14.454200
75%,668.500000,1.000000,3.000000,38.000000,1.000000,0.000000,31.000000
max,891.000000,1.000000,3.000000,80.000000,8.000000,6.000000,512.329200

In [149]:
df.columns

Index(['PassengerId', 'Survived', 'Pclass', 'Name', 'Sex', 'Age', 'SibSp',
       'Parch', 'Ticket', 'Fare', 'Cabin', 'Embarked'],
      dtype='object')

In [150]:
df.dtypes

PassengerId      int64
Survived         int64
Pclass           int64
Name            object
Sex             object
Age            float64
SibSp            int64
Parch            int64
Ticket          object
Fare           float64
Cabin           object
Embarked        object
dtype: object

In [151]:
df.dtypes == "object"

PassengerId    False
Survived       False
Pclass         False
Name            True
Sex             True
Age            False
SibSp          False
Parch          False
Ticket          True
Fare           False
Cabin           True
Embarked        True
dtype: bool

In [152]:
df.dtypes[df.dtypes == "object"]

Name        object
Sex         object
Ticket      object
Cabin       object
Embarked    object
dtype: object

In [153]:
l = [4,5,6,7,8,9,0,"sudh","kumar"]

In [154]:
l[0]

4

In [155]:
l[l==8]

4

In [156]:
df.dtypes[df.dtypes == "object"].index

Index(['Name', 'Sex', 'Ticket', 'Cabin', 'Embarked'], dtype='object')

In [157]:
col_name = df.dtypes[df.dtypes == "object"].index

In [158]:
df[col_name]

,Name,Sex,Ticket,Cabin,Embarked
0,"Braund, Mr. Owen Harris",male,A/5 21171,NaN,S
1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,PC 17599,C85,C
2,"Heikkinen, Miss. Laina",female,STON/O2. 3101282,NaN,S
3,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,113803,C123,S
4,"Allen, Mr. William Henry",male,373450,NaN,S
...,...,...,...,...,...
886,"Montvila, Rev. Juozas",male,211536,NaN,S
887,"Graham, Miss. Margaret Edith",female,112053,B42,S
888,"Johnston, Miss. Catherine Helen ""Carrie""",female,W./C. 6607,NaN,S
889,"Behr, Mr. Karl Howell",male,111369,C148,C
890,"Dooley, Mr. Patrick",male,370376,NaN,Q

In [159]:
df[col_name].describe()

                           Name   Sex  Ticket    Cabin Embarked
count                       891   891     891      204      889
unique                      891     2     681      147        3
top     Braund, Mr. Owen Harris  male  347082  B96 B98        S
freq                          1   577       7        4      644

In [160]:
df

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S
...,...,...,...,...,...,...,...,...,...,...,...,...
886,887,0,2,"Montvila, Rev. Juozas",male,27.0,0,0,211536,13.0000,NaN,S
887,888,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.0000,B42,S
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,1,2,W./C. 6607,23.4500,NaN,S
889,890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.0000,C148,C
890,891,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.7500,NaN,Q

In [161]:
df["ineuron"] = "sudh"

In [162]:
df

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,ineuron
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S,sudh
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C,sudh
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S,sudh
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S,sudh
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S,sudh
...,...,...,...,...,...,...,...,...,...,...,...,...,...
886,887,0,2,"Montvila, Rev. Juozas",male,27.0,0,0,211536,13.0000,NaN,S,sudh
887,888,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.0000,B42,S,sudh
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,1,2,W./C. 6607,23.4500,NaN,S,sudh
889,890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.0000,C148,C,sudh
890,891,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.7500,NaN,Q,sudh

In [163]:
df['Name']

0                                Braund, Mr. Owen Harris
1      Cumings, Mrs. John Bradley (Florence Briggs Th...
2                                 Heikkinen, Miss. Laina
3           Futrelle, Mrs. Jacques Heath (Lily May Peel)
4                               Allen, Mr. William Henry
                             ...
886                                Montvila, Rev. Juozas
887                         Graham, Miss. Margaret Edith
888             Johnston, Miss. Catherine Helen "Carrie"
889                                Behr, Mr. Karl Howell
890                                  Dooley, Mr. Patrick
Name: Name, Length: 891, dtype: object

In [164]:
df['Name'].head(15)

0                               Braund, Mr. Owen Harris
1     Cumings, Mrs. John Bradley (Florence Briggs Th...
2                                Heikkinen, Miss. Laina
3          Futrelle, Mrs. Jacques Heath (Lily May Peel)
4                              Allen, Mr. William Henry
5                                      Moran, Mr. James
6                               McCarthy, Mr. Timothy J
7                        Palsson, Master. Gosta Leonard
8     Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)
9                   Nasser, Mrs. Nicholas (Adele Achem)
10                      Sandstrom, Miss. Marguerite Rut
11                             Bonnell, Miss. Elizabeth
12                       Saundercock, Mr. William Henry
13                          Andersson, Mr. Anders Johan
14                 Vestrom, Miss. Hulda Amanda Adolfina
Name: Name, dtype: object

In [165]:
df['Name'][0:15]

0                               Braund, Mr. Owen Harris
1     Cumings, Mrs. John Bradley (Florence Briggs Th...
2                                Heikkinen, Miss. Laina
3          Futrelle, Mrs. Jacques Heath (Lily May Peel)
4                              Allen, Mr. William Henry
5                                      Moran, Mr. James
6                               McCarthy, Mr. Timothy J
7                        Palsson, Master. Gosta Leonard
8     Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)
9                   Nasser, Mrs. Nicholas (Adele Achem)
10                      Sandstrom, Miss. Marguerite Rut
11                             Bonnell, Miss. Elizabeth
12                       Saundercock, Mr. William Henry
13                          Andersson, Mr. Anders Johan
14                 Vestrom, Miss. Hulda Amanda Adolfina
Name: Name, dtype: object

In [166]:
df['Name'][0:15:2]

0                               Braund, Mr. Owen Harris
2                                Heikkinen, Miss. Laina
4                              Allen, Mr. William Henry
6                               McCarthy, Mr. Timothy J
8     Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)
10                      Sandstrom, Miss. Marguerite Rut
12                       Saundercock, Mr. William Henry
14                 Vestrom, Miss. Hulda Amanda Adolfina
Name: Name, dtype: object

In [167]:
df['Name'][::-1]

890                                  Dooley, Mr. Patrick
889                                Behr, Mr. Karl Howell
888             Johnston, Miss. Catherine Helen "Carrie"
887                         Graham, Miss. Margaret Edith
886                                Montvila, Rev. Juozas
                             ...
4                               Allen, Mr. William Henry
3           Futrelle, Mrs. Jacques Heath (Lily May Peel)
2                                 Heikkinen, Miss. Laina
1      Cumings, Mrs. John Bradley (Florence Briggs Th...
0                                Braund, Mr. Owen Harris
Name: Name, Length: 891, dtype: object

In [168]:
df

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,ineuron
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S,sudh
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C,sudh
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S,sudh
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S,sudh
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S,sudh
...,...,...,...,...,...,...,...,...,...,...,...,...,...
886,887,0,2,"Montvila, Rev. Juozas",male,27.0,0,0,211536,13.0000,NaN,S,sudh
887,888,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.0000,B42,S,sudh
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,1,2,W./C. 6607,23.4500,NaN,S,sudh
889,890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.0000,C148,C,sudh
890,891,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.7500,NaN,Q,sudh

In [169]:
df[df['Age'].isnull() == True].index

Int64Index([  5,  17,  19,  26,  28,  29,  31,  32,  36,  42,
            ...
            832, 837, 839, 846, 849, 859, 863, 868, 878, 888],
           dtype='int64', length=177)

In [170]:
len(df[df['Age'].isnull() == True].index)

177

In [171]:
ind = df[df['Age'].isnull() == True].index

In [172]:
df.loc[ind]

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,ineuron
5,6,0,3,"Moran, Mr. James",male,NaN,0,0,330877,8.4583,NaN,Q,sudh
17,18,1,2,"Williams, Mr. Charles Eugene",male,NaN,0,0,244373,13.0000,NaN,S,sudh
19,20,1,3,"Masselmani, Mrs. Fatima",female,NaN,0,0,2649,7.2250,NaN,C,sudh
26,27,0,3,"Emir, Mr. Farred Chehab",male,NaN,0,0,2631,7.2250,NaN,C,sudh
28,29,1,3,"O'Dwyer, Miss. Ellen ""Nellie""",female,NaN,0,0,330959,7.8792,NaN,Q,sudh
...,...,...,...,...,...,...,...,...,...,...,...,...,...
859,860,0,3,"Razi, Mr. Raihed",male,NaN,0,0,2629,7.2292,NaN,C,sudh
863,864,0,3,"Sage, Miss. Dorothy Edith ""Dolly""",female,NaN,8,2,CA. 2343,69.5500,NaN,S,sudh
868,869,0,3,"van Melkebeke, Mr. Philemon",male,NaN,0,0,345777,9.5000,NaN,S,sudh
878,879,0,3,"Laleff, Mr. Kristo",male,NaN,0,0,349217,7.8958,NaN,S,sudh
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,1,2,W./C. 6607,23.4500,NaN,S,sudh

In [173]:
df[df['Age'].isnull()]

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,ineuron
5,6,0,3,"Moran, Mr. James",male,NaN,0,0,330877,8.4583,NaN,Q,sudh
17,18,1,2,"Williams, Mr. Charles Eugene",male,NaN,0,0,244373,13.0000,NaN,S,sudh
19,20,1,3,"Masselmani, Mrs. Fatima",female,NaN,0,0,2649,7.2250,NaN,C,sudh
26,27,0,3,"Emir, Mr. Farred Chehab",male,NaN,0,0,2631,7.2250,NaN,C,sudh
28,29,1,3,"O'Dwyer, Miss. Ellen ""Nellie""",female,NaN,0,0,330959,7.8792,NaN,Q,sudh
...,...,...,...,...,...,...,...,...,...,...,...,...,...
859,860,0,3,"Razi, Mr. Raihed",male,NaN,0,0,2629,7.2292,NaN,C,sudh
863,864,0,3,"Sage, Miss. Dorothy Edith ""Dolly""",female,NaN,8,2,CA. 2343,69.5500,NaN,S,sudh
868,869,0,3,"van Melkebeke, Mr. Philemon",male,NaN,0,0,345777,9.5000,NaN,S,sudh
878,879,0,3,"Laleff, Mr. Kristo",male,NaN,0,0,349217,7.8958,NaN,S,sudh
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,1,2,W./C. 6607,23.4500,NaN,S,sudh

In [174]:
df[df['Fare'] == max(df['Fare'])]['Name']

258                      Ward, Miss. Anna
679    Cardeza, Mr. Thomas Drake Martinez
737                Lesurer, Mr. Gustave J
Name: Name, dtype: object

In [175]:
df[df["Fare"] == df['Fare'].max()]['Name']

258                      Ward, Miss. Anna
679    Cardeza, Mr. Thomas Drake Martinez
737                Lesurer, Mr. Gustave J
Name: Name, dtype: object

1 . Find out how many male and female passenger was onboarded .
2. how many survived we have .
3. how many casuality we have 
4 . what is name of a person who is the eldest one . 
5 . how many passenger do we have in first , second and third class 
6. how many person we have whose name starts with "s"
7. try to create a new column which is a summation  of "SibSp" and "parch"
8 . how many person do we have below age of 25 .
9 . how many person died whose age was less then 40 
10 . from a  cabin column seperate text and numeric value .

In [176]:
pd.read_csv('bank.csv',sep=";")

,age,job,marital,education,default,balance,housing,loan,contact,day,month,duration,campaign,pdays,previous,poutcome,y
0,30,unemployed,married,primary,no,1787,no,no,cellular,19,oct,79,1,-1,0,unknown,no
1,33,services,married,secondary,no,4789,yes,yes,cellular,11,may,220,1,339,4,failure,no
2,35,management,single,tertiary,no,1350,yes,no,cellular,16,apr,185,1,330,1,failure,no
3,30,management,married,tertiary,no,1476,yes,yes,unknown,3,jun,199,4,-1,0,unknown,no
4,59,blue-collar,married,secondary,no,0,yes,no,unknown,5,may,226,1,-1,0,unknown,no
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4516,33,services,married,secondary,no,-333,yes,no,cellular,30,jul,329,5,-1,0,unknown,no
4517,57,self-employed,married,tertiary,yes,-3313,yes,yes,unknown,9,may,153,1,-1,0,unknown,no
4518,57,technician,married,secondary,no,295,no,no,cellular,19,aug,151,11,-1,0,unknown,no
4519,28,blue-collar,married,secondary,no,1137,no,no,cellular,6,feb,129,4,211,3,other,no
4520,44,entrepreneur,single,tertiary,no,1136,yes,yes,cellular,3,apr,345,2,249,7,other,no

1 . how many campaign available in this dataset . 
2 . how many users do we have with housing and personal loan . 
3. how many person do we have whose age is 60+ . 
4 . in which month we have trageted most of the customer . 
5 . which mode of call is giving you more result
6 . how many enterpeures do we have in this list  
7 . how many customers do we have with negative balance 
8. prepare a group of data based on education level .

Read all the resume form ineurno git in pdf , word , and try to create a dataframe with resume name as a index value , and
in column i am expecting email id , linked in id , git id  , sills as a result .

In [2]:
import pandas as pd
import numpy as np

In [94]:
df = pd.read_csv('https://raw.githubusercontent.com/datasciencedojo/datasets/master/titanic.csv')

In [95]:
df

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S
...,...,...,...,...,...,...,...,...,...,...,...,...
886,887,0,2,"Montvila, Rev. Juozas",male,27.0,0,0,211536,13.0000,NaN,S
887,888,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.0000,B42,S
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,1,2,W./C. 6607,23.4500,NaN,S
889,890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.0000,C148,C
890,891,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.7500,NaN,Q

In [96]:
df.dropna(axis=1)

,PassengerId,Survived,Pclass,Name,Sex,SibSp,Parch,Ticket,Fare
0,1,0,3,"Braund, Mr. Owen Harris",male,1,0,A/5 21171,7.2500
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,1,0,PC 17599,71.2833
2,3,1,3,"Heikkinen, Miss. Laina",female,0,0,STON/O2. 3101282,7.9250
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,1,0,113803,53.1000
4,5,0,3,"Allen, Mr. William Henry",male,0,0,373450,8.0500
...,...,...,...,...,...,...,...,...,...
886,887,0,2,"Montvila, Rev. Juozas",male,0,0,211536,13.0000
887,888,1,1,"Graham, Miss. Margaret Edith",female,0,0,112053,30.0000
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,1,2,W./C. 6607,23.4500
889,890,1,1,"Behr, Mr. Karl Howell",male,0,0,111369,30.0000
890,891,0,3,"Dooley, Mr. Patrick",male,0,0,370376,7.7500

In [97]:
df.describe()

,PassengerId,Survived,Pclass,Age,SibSp,Parch,Fare
count,891.000000,891.000000,891.000000,714.000000,891.000000,891.000000,891.000000
mean,446.000000,0.383838,2.308642,29.699118,0.523008,0.381594,32.204208
std,257.353842,0.486592,0.836071,14.526497,1.102743,0.806057,49.693429
min,1.000000,0.000000,1.000000,0.420000,0.000000,0.000000,0.000000
25%,223.500000,0.000000,2.000000,20.125000,0.000000,0.000000,7.910400
50%,446.000000,0.000000,3.000000,28.000000,0.000000,0.000000,14.454200
75%,668.500000,1.000000,3.000000,38.000000,1.000000,0.000000,31.000000
max,891.000000,1.000000,3.000000,80.000000,8.000000,6.000000,512.329200

In [98]:
df.isnull().sum()

PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age            177
SibSp            0
Parch            0
Ticket           0
Fare             0
Cabin          687
Embarked         2
dtype: int64

In [99]:
df.dropna(inplace=True)

In [100]:
df

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
6,7,0,1,"McCarthy, Mr. Timothy J",male,54.0,0,0,17463,51.8625,E46,S
10,11,1,3,"Sandstrom, Miss. Marguerite Rut",female,4.0,1,1,PP 9549,16.7000,G6,S
11,12,1,1,"Bonnell, Miss. Elizabeth",female,58.0,0,0,113783,26.5500,C103,S
...,...,...,...,...,...,...,...,...,...,...,...,...
871,872,1,1,"Beckwith, Mrs. Richard Leonard (Sallie Monypeny)",female,47.0,1,1,11751,52.5542,D35,S
872,873,0,1,"Carlsson, Mr. Frans Olof",male,33.0,0,0,695,5.0000,B51 B53 B55,S
879,880,1,1,"Potter, Mrs. Thomas Jr (Lily Alexenia Wilson)",female,56.0,0,1,11767,83.1583,C50,C
887,888,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.0000,B42,S
889,890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.0000,C148,C

In [101]:
df.isnull().sum()

PassengerId    0
Survived       0
Pclass         0
Name           0
Sex            0
Age            0
SibSp          0
Parch          0
Ticket         0
Fare           0
Cabin          0
Embarked       0
dtype: int64

In [102]:
df.dropna(axis=1,thresh=800)

Empty DataFrame
Columns: []
Index: [1, 3, 6, 10, 11, 21, 23, 27, 52, 54, 62, 66, 75, 88, 92, 96, 97, 102, 110, 118, 123, 124, 136, 137, 139, 148, 151, 170, 174, 177, 183, 193, 194, 195, 205, 209, 215, 218, 224, 230, 245, 248, 251, 252, 257, 262, 263, 268, 269, 273, 275, 291, 292, 297, 299, 305, 307, 309, 310, 311, 318, 319, 325, 327, 329, 331, 332, 336, 337, 339, 340, 341, 345, 356, 366, 369, 370, 377, 390, 393, 394, 412, 429, 430, 434, 435, 438, 445, 449, 452, 453, 456, 460, 462, 473, 484, 486, 487, 492, 496, ...]

[183 rows x 0 columns]

In [103]:
df.dropna(axis=1,how="all")

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
6,7,0,1,"McCarthy, Mr. Timothy J",male,54.0,0,0,17463,51.8625,E46,S
10,11,1,3,"Sandstrom, Miss. Marguerite Rut",female,4.0,1,1,PP 9549,16.7000,G6,S
11,12,1,1,"Bonnell, Miss. Elizabeth",female,58.0,0,0,113783,26.5500,C103,S
...,...,...,...,...,...,...,...,...,...,...,...,...
871,872,1,1,"Beckwith, Mrs. Richard Leonard (Sallie Monypeny)",female,47.0,1,1,11751,52.5542,D35,S
872,873,0,1,"Carlsson, Mr. Frans Olof",male,33.0,0,0,695,5.0000,B51 B53 B55,S
879,880,1,1,"Potter, Mrs. Thomas Jr (Lily Alexenia Wilson)",female,56.0,0,1,11767,83.1583,C50,C
887,888,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.0000,B42,S
889,890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.0000,C148,C

In [104]:
df.fillna(value=df['Age'].mean())

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
6,7,0,1,"McCarthy, Mr. Timothy J",male,54.0,0,0,17463,51.8625,E46,S
10,11,1,3,"Sandstrom, Miss. Marguerite Rut",female,4.0,1,1,PP 9549,16.7000,G6,S
11,12,1,1,"Bonnell, Miss. Elizabeth",female,58.0,0,0,113783,26.5500,C103,S
...,...,...,...,...,...,...,...,...,...,...,...,...
871,872,1,1,"Beckwith, Mrs. Richard Leonard (Sallie Monypeny)",female,47.0,1,1,11751,52.5542,D35,S
872,873,0,1,"Carlsson, Mr. Frans Olof",male,33.0,0,0,695,5.0000,B51 B53 B55,S
879,880,1,1,"Potter, Mrs. Thomas Jr (Lily Alexenia Wilson)",female,56.0,0,1,11767,83.1583,C50,C
887,888,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.0000,B42,S
889,890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.0000,C148,C

In [105]:
df.groupby('Survived').describe()['PassengerId']

          count        mean         std  min    25%    50%    75%    max
Survived
0          60.0  402.983333  252.917183  7.0  174.0  359.0  634.5  873.0
1         123.0  480.918699  241.058955  2.0  309.0  497.0  690.5  890.0

In [106]:
df.groupby('Survived').describe()['PassengerId'].T

Survived           0           1
count      60.000000  123.000000
mean      402.983333  480.918699
std       252.917183  241.058955
min         7.000000    2.000000
25%       174.000000  309.000000
50%       359.000000  497.000000
75%       634.500000  690.500000
max       873.000000  890.000000

In [107]:
df.groupby('Survived').describe()['PassengerId'].transpose()

Survived           0           1
count      60.000000  123.000000
mean      402.983333  480.918699
std       252.917183  241.058955
min         7.000000    2.000000
25%       174.000000  309.000000
50%       359.000000  497.000000
75%       634.500000  690.500000
max       873.000000  890.000000

In [108]:
df1 = pd.read_csv('bank.csv',sep=";")

In [109]:
df1

,age,job,marital,education,default,balance,housing,loan,contact,day,month,duration,campaign,pdays,previous,poutcome,y
0,30,unemployed,married,primary,no,1787,no,no,cellular,19,oct,79,1,-1,0,unknown,no
1,33,services,married,secondary,no,4789,yes,yes,cellular,11,may,220,1,339,4,failure,no
2,35,management,single,tertiary,no,1350,yes,no,cellular,16,apr,185,1,330,1,failure,no
3,30,management,married,tertiary,no,1476,yes,yes,unknown,3,jun,199,4,-1,0,unknown,no
4,59,blue-collar,married,secondary,no,0,yes,no,unknown,5,may,226,1,-1,0,unknown,no
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4516,33,services,married,secondary,no,-333,yes,no,cellular,30,jul,329,5,-1,0,unknown,no
4517,57,self-employed,married,tertiary,yes,-3313,yes,yes,unknown,9,may,153,1,-1,0,unknown,no
4518,57,technician,married,secondary,no,295,no,no,cellular,19,aug,151,11,-1,0,unknown,no
4519,28,blue-collar,married,secondary,no,1137,no,no,cellular,6,feb,129,4,211,3,other,no
4520,44,entrepreneur,single,tertiary,no,1136,yes,yes,cellular,3,apr,345,2,249,7,other,no

In [110]:
l = []
for i in df1['education'].unique():
    l.append(df1[df1['education'] == i ])

In [111]:
df2 = l[0]

In [112]:
df2

,age,job,marital,education,default,balance,housing,loan,contact,day,month,duration,campaign,pdays,previous,poutcome,y
0,30,unemployed,married,primary,no,1787,no,no,cellular,19,oct,79,1,-1,0,unknown,no
9,43,services,married,primary,no,-88,yes,yes,cellular,17,apr,313,1,147,2,failure,no
18,25,blue-collar,single,primary,no,-221,yes,no,unknown,23,may,250,1,-1,0,unknown,no
26,55,blue-collar,married,primary,no,627,yes,no,unknown,5,may,247,1,-1,0,unknown,no
36,78,retired,divorced,primary,no,229,no,no,telephone,22,oct,97,1,-1,0,unknown,yes
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4480,23,blue-collar,married,primary,no,1158,yes,no,cellular,16,apr,743,1,-1,0,unknown,no
4485,53,blue-collar,married,primary,no,238,yes,no,cellular,11,may,238,2,361,5,failure,no
4486,37,blue-collar,married,primary,no,378,yes,no,unknown,9,may,514,1,-1,0,unknown,no
4499,45,blue-collar,divorced,primary,no,942,no,no,cellular,21,nov,362,1,-1,0,unknown,no
4503,60,self-employed,married,primary,no,362,no,yes,cellular,29,jul,816,6,-1,0,unknown,yes

In [113]:
df3 = l[1]

In [114]:
df3

,age,job,marital,education,default,balance,housing,loan,contact,day,month,duration,campaign,pdays,previous,poutcome,y
1,33,services,married,secondary,no,4789,yes,yes,cellular,11,may,220,1,339,4,failure,no
4,59,blue-collar,married,secondary,no,0,yes,no,unknown,5,may,226,1,-1,0,unknown,no
7,39,technician,married,secondary,no,147,yes,no,cellular,6,may,151,2,-1,0,unknown,no
10,39,services,married,secondary,no,9374,yes,no,unknown,20,may,273,1,-1,0,unknown,no
11,43,admin.,married,secondary,no,264,yes,no,cellular,17,apr,113,2,-1,0,unknown,no
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4514,38,blue-collar,married,secondary,no,1205,yes,no,cellular,20,apr,45,4,153,1,failure,no
4515,32,services,single,secondary,no,473,yes,no,cellular,7,jul,624,5,-1,0,unknown,no
4516,33,services,married,secondary,no,-333,yes,no,cellular,30,jul,329,5,-1,0,unknown,no
4518,57,technician,married,secondary,no,295,no,no,cellular,19,aug,151,11,-1,0,unknown,no
4519,28,blue-collar,married,secondary,no,1137,no,no,cellular,6,feb,129,4,211,3,other,no

In [115]:
pd.concat([df2,df3])

,age,job,marital,education,default,balance,housing,loan,contact,day,month,duration,campaign,pdays,previous,poutcome,y
0,30,unemployed,married,primary,no,1787,no,no,cellular,19,oct,79,1,-1,0,unknown,no
9,43,services,married,primary,no,-88,yes,yes,cellular,17,apr,313,1,147,2,failure,no
18,25,blue-collar,single,primary,no,-221,yes,no,unknown,23,may,250,1,-1,0,unknown,no
26,55,blue-collar,married,primary,no,627,yes,no,unknown,5,may,247,1,-1,0,unknown,no
36,78,retired,divorced,primary,no,229,no,no,telephone,22,oct,97,1,-1,0,unknown,yes
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4514,38,blue-collar,married,secondary,no,1205,yes,no,cellular,20,apr,45,4,153,1,failure,no
4515,32,services,single,secondary,no,473,yes,no,cellular,7,jul,624,5,-1,0,unknown,no
4516,33,services,married,secondary,no,-333,yes,no,cellular,30,jul,329,5,-1,0,unknown,no
4518,57,technician,married,secondary,no,295,no,no,cellular,19,aug,151,11,-1,0,unknown,no
4519,28,blue-collar,married,secondary,no,1137,no,no,cellular,6,feb,129,4,211,3,other,no

In [116]:
df2 = df2.head()

In [117]:
df3 = df3.head()

In [118]:
pd.concat([df2,df3],axis=1)

,age,job,marital,education,default,balance,housing,loan,contact,day,...,loan,contact,day,month,duration,campaign,pdays,previous,poutcome,y
0,30.0,unemployed,married,primary,no,1787.0,no,no,cellular,19.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,43.0,services,married,primary,no,-88.0,yes,yes,cellular,17.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18,25.0,blue-collar,single,primary,no,-221.0,yes,no,unknown,23.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
26,55.0,blue-collar,married,primary,no,627.0,yes,no,unknown,5.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
36,78.0,retired,divorced,primary,no,229.0,no,no,telephone,22.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,yes,cellular,11.0,may,220.0,1.0,339.0,4.0,failure,no
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,no,unknown,5.0,may,226.0,1.0,-1.0,0.0,unknown,no
7,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,no,cellular,6.0,may,151.0,2.0,-1.0,0.0,unknown,no
10,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,no,unknown,20.0,may,273.0,1.0,-1.0,0.0,unknown,no
11,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,no,cellular,17.0,apr,113.0,2.0,-1.0,0.0,unknown,no

In [119]:
df2.columns

Index(['age', 'job', 'marital', 'education', 'default', 'balance', 'housing',
       'loan', 'contact', 'day', 'month', 'duration', 'campaign', 'pdays',
       'previous', 'poutcome', 'y'],
      dtype='object')

In [120]:
df2 = df2[['age', 'job', 'marital']]

In [121]:
df3 = df3[['age', 'job', 'marital']]

In [122]:
df2

    age          job   marital
0    30   unemployed   married
9    43     services   married
18   25  blue-collar    single
26   55  blue-collar   married
36   78      retired  divorced

In [123]:
df3

    age          job  marital
1    33     services  married
4    59  blue-collar  married
7    39   technician  married
10   39     services  married
11   43       admin.  married

In [124]:
df5 = pd.concat([df2,df3],axis=1)

In [125]:
    df5

     age          job   marital   age          job  marital
0   30.0   unemployed   married   NaN          NaN      NaN
9   43.0     services   married   NaN          NaN      NaN
18  25.0  blue-collar    single   NaN          NaN      NaN
26  55.0  blue-collar   married   NaN          NaN      NaN
36  78.0      retired  divorced   NaN          NaN      NaN
1    NaN          NaN       NaN  33.0     services  married
4    NaN          NaN       NaN  59.0  blue-collar  married
7    NaN          NaN       NaN  39.0   technician  married
10   NaN          NaN       NaN  39.0     services  married
11   NaN          NaN       NaN  43.0       admin.  married

In [126]:
df5['age']

     age   age
0   30.0   NaN
9   43.0   NaN
18  25.0   NaN
26  55.0   NaN
36  78.0   NaN
1    NaN  33.0
4    NaN  59.0
7    NaN  39.0
10   NaN  39.0
11   NaN  43.0

In [127]:
df5.iloc[:,3]

0      NaN
9      NaN
18     NaN
26     NaN
36     NaN
1     33.0
4     59.0
7     39.0
10    39.0
11    43.0
Name: age, dtype: float64

In [128]:
df5.iloc[:,[3,4]]

     age          job
0    NaN          NaN
9    NaN          NaN
18   NaN          NaN
26   NaN          NaN
36   NaN          NaN
1   33.0     services
4   59.0  blue-collar
7   39.0   technician
10  39.0     services
11  43.0       admin.

In [129]:
df5.iloc[[4,5],[3,4]]

     age       job
36   NaN       NaN
1   33.0  services

In [130]:
df5.loc[[9,10]]

     age       job  marital   age       job  marital
9   43.0  services  married   NaN       NaN      NaN
10   NaN       NaN      NaN  39.0  services  married

In [131]:
df5.loc[[9,10],['age']]

     age   age
9   43.0   NaN
10   NaN  39.0

In [132]:
df2

    age          job   marital
0    30   unemployed   married
9    43     services   married
18   25  blue-collar    single
26   55  blue-collar   married
36   78      retired  divorced

In [133]:
df2.loc[[9,18],['job','marital']]

            job  marital
9      services  married
18  blue-collar   single

In [134]:
df2.iloc[1:3,1:3]

            job  marital
9      services  married
18  blue-collar   single

In [135]:
df2.iloc[[1,2],[1,2]]

            job  marital
9      services  married
18  blue-collar   single

In [136]:
df2

    age          job   marital
0    30   unemployed   married
9    43     services   married
18   25  blue-collar    single
26   55  blue-collar   married
36   78      retired  divorced

In [137]:
df2.loc[[9,18],['marital']]

    marital
9   married
18   single

In [138]:
df2.iloc[[1,2],[2]]

    marital
9   married
18   single

In [139]:
pd.merge(df2,df3, on="age")

   age     job_x marital_x   job_y marital_y
0   43  services   married  admin.   married

In [140]:
pd.merge(df2,df3, on="age",how='left')

   age        job_x marital_x   job_y marital_y
0   30   unemployed   married     NaN       NaN
1   43     services   married  admin.   married
2   25  blue-collar    single     NaN       NaN
3   55  blue-collar   married     NaN       NaN
4   78      retired  divorced     NaN       NaN

In [141]:
pd.merge(df2,df3, on="age",how='right')

   age     job_x marital_x        job_y marital_y
0   33       NaN       NaN     services   married
1   59       NaN       NaN  blue-collar   married
2   39       NaN       NaN   technician   married
3   39       NaN       NaN     services   married
4   43  services   married       admin.   married

In [142]:
pd.merge(df2,df3, on="age",how='outer')

   age        job_x marital_x        job_y marital_y
0   30   unemployed   married          NaN       NaN
1   43     services   married       admin.   married
2   25  blue-collar    single          NaN       NaN
3   55  blue-collar   married          NaN       NaN
4   78      retired  divorced          NaN       NaN
5   33          NaN       NaN     services   married
6   59          NaN       NaN  blue-collar   married
7   39          NaN       NaN   technician   married
8   39          NaN       NaN     services   married

In [143]:
df2

    age          job   marital
0    30   unemployed   married
9    43     services   married
18   25  blue-collar    single
26   55  blue-collar   married
36   78      retired  divorced

In [144]:
df3

    age          job  marital
1    33     services  married
4    59  blue-collar  married
7    39   technician  married
10   39     services  married
11   43       admin.  married

In [145]:
df2.join(df3)

ValueError: columns overlap but no suffix specified: Index(['age', 'job', 'marital'], dtype='object')

In [146]:
df2.join(df3,on="age")

ValueError: columns overlap but no suffix specified: Index(['age', 'job', 'marital'], dtype='object')

In [147]:
df2 = df2.set_index('age')
df2

             job   marital
age
30    unemployed   married
43      services   married
25   blue-collar    single
55   blue-collar   married
78       retired  divorced

In [148]:
df3 = df3.set_index('age')
df3

             job  marital
age
33      services  married
59   blue-collar  married
39    technician  married
39      services  married
43        admin.  married

In [149]:
df2.join(df3)

ValueError: columns overlap but no suffix specified: Index(['job', 'marital'], dtype='object')

In [156]:
df2.rename(columns={'job':'job1','marital':'marital1'},inplace=True)

In [157]:
df2

            job1  marital1
age
30    unemployed   married
43      services   married
25   blue-collar    single
55   blue-collar   married
78       retired  divorced

In [158]:
df2.join(df3)

            job1  marital1     job  marital
age
25   blue-collar    single     NaN      NaN
30    unemployed   married     NaN      NaN
43      services   married  admin.  married
55   blue-collar   married     NaN      NaN
78       retired  divorced     NaN      NaN

In [159]:
df2.join(df3,how='inner')

         job1 marital1     job  marital
age
43   services  married  admin.  married

In [160]:
pd.merge(df2,df3)

MergeError: No common columns to perform merge on. Merge options: left_on=None, right_on=None, left_index=False, right_index=False

In [161]:
df2.join(df3)

            job1  marital1     job  marital
age
25   blue-collar    single     NaN      NaN
30    unemployed   married     NaN      NaN
43      services   married  admin.  married
55   blue-collar   married     NaN      NaN
78       retired  divorced     NaN      NaN

In [162]:
df3.reset_index()

   age          job  marital
0   33     services  married
1   59  blue-collar  married
2   39   technician  married
3   39     services  married
4   43       admin.  married

In [164]:
pd.merge(df3.reset_index(),df2.reset_index())

   age     job  marital      job1 marital1
0   43  admin.  married  services  married

In [166]:
pd.merge(df2,df3,left_on='job1',right_on='job')

          job1 marital1          job  marital
0     services  married     services  married
1     services  married     services  married
2  blue-collar   single  blue-collar  married
3  blue-collar  married  blue-collar  married

In [189]:
df3 = df3.reset_index()

In [190]:
df3

   age          job  marital
0   33     services  married
1   59  blue-collar  married
2   39   technician  married
3   39     services  married
4   43       admin.  married

In [191]:
df3.age

0    33
1    59
2    39
3    39
4    43
Name: age, dtype: int64

In [192]:
df3['age']

0    33
1    59
2    39
3    39
4    43
Name: age, dtype: int64

In [165]:
df = pd.DataFrame({'col1' : [1,2,3,4,5],
              'col2' : [45,56,67,34,34],
              'col3': "sudhanshu kumar krish ineuron one".split()
     })

In [167]:
"sudhanshu kumar krish ineuron one".split()

['sudhanshu', 'kumar', 'krish', 'ineuron', 'one']

In [168]:
df

   col1  col2       col3
0     1    45  sudhanshu
1     2    56      kumar
2     3    67      krish
3     4    34    ineuron
4     5    34        one

In [169]:
df['col4'] = df['col1']**2

In [170]:
df

   col1  col2       col3  col4
0     1    45  sudhanshu     1
1     2    56      kumar     4
2     3    67      krish     9
3     4    34    ineuron    16
4     5    34        one    25

In [171]:
df['col5'] = df['col3'].str[0]

In [172]:
df

   col1  col2       col3  col4 col5
0     1    45  sudhanshu     1    s
1     2    56      kumar     4    k
2     3    67      krish     9    k
3     4    34    ineuron    16    i
4     5    34        one    25    o

In [173]:
def test(a) :
    return a**2

In [174]:
df['col4_4']  = df['col1'].apply(test)

In [175]:
df

   col1  col2       col3  col4 col5  col4_4
0     1    45  sudhanshu     1    s       1
1     2    56      kumar     4    k       4
2     3    67      krish     9    k       9
3     4    34    ineuron    16    i      16
4     5    34        one    25    o      25

In [176]:
def test1(a):
    if a =='s':
        return 's'
    else:
        return 'z'

In [177]:
df['col6'] = df['col5'].apply(test1)

In [178]:
df

   col1  col2       col3  col4 col5  col4_4 col6
0     1    45  sudhanshu     1    s       1    s
1     2    56      kumar     4    k       4    z
2     3    67      krish     9    k       9    z
3     4    34    ineuron    16    i      16    z
4     5    34        one    25    o      25    z

In [179]:
df['col6_6'] = df['col5'].apply(lambda a : 's' if a == 's' else 'z')

In [180]:
df

   col1  col2       col3  col4 col5  col4_4 col6 col6_6
0     1    45  sudhanshu     1    s       1    s      s
1     2    56      kumar     4    k       4    z      z
2     3    67      krish     9    k       9    z      z
3     4    34    ineuron    16    i      16    z      z
4     5    34        one    25    o      25    z      z

In [181]:
df['col7'] = df['col3'].apply(len)

In [182]:
df

   col1  col2       col3  col4 col5  col4_4 col6 col6_6  col7
0     1    45  sudhanshu     1    s       1    s      s     9
1     2    56      kumar     4    k       4    z      z     5
2     3    67      krish     9    k       9    z      z     5
3     4    34    ineuron    16    i      16    z      z     7
4     5    34        one    25    o      25    z      z     3

In [183]:
import math

In [227]:
df['col8'] = df['col2'].apply(math.log)

In [228]:
df

   col1  col2       col3  col4 col5  col4_4 col6 col6_6  col7      col8
0     1    45  sudhanshu     1    s       1    s      s     9  3.806662
1     2    56      kumar     4    k       4    z      z     5  4.025352
2     3    67      krish     9    k       9    z      z     5  4.204693
3     4    34    ineuron    16    i      16    z      z     7  3.526361
4     5    34        one    25    o      25    z      z     3  3.526361